---
permalink: manifest.json
---
{
	"id": "/",
	"name": "{{ global.title }}",
	"description": "{{ global.desc }}",
	"lang": "en",
	"dir": "ltr",
	"start_url": "/",
	"display": "browser",
	"orientation": "natural",
	"theme_color": "#030303",
	"icons": [
		{
			"src": "/images/favicons/192.png",
			"type": "image/png",
			"sizes": "192x192"
		},
		{
			"src": "/images/favicons/512.png",
			"type": "image/png",
			"sizes": "512x512"
		}
	]
}
