---
permalink: manifest.json
---
{
	"id": "/",
	"name": "{{ global.author }}",
	"description": "{{ global.description }}",
	"lang": "{{ global.lang }}",
	"dir": "ltr",
	"start_url": "/",
	"display": "browser",
	"orientation": "natural",
	"theme_color": "#f64242",
	"icons": [
		{
			"src": "/images/favicons/192.png",
			"type": "image/png",
			"sizes": "192x192"
		},
		{
			"src": "/images/favicons/512.png",
			"type": "image/png",
			"sizes": "512x512"
		}
	]
}
