.wrapper {
	padding-block: 0;
	padding-inline: 120px;
	margin-block-start: 90px;
}

.placeholder {
	padding-block: 0;
	padding-inline: 15px;
	margin-block: 40px 0;
	margin-inline: 0;
	font-size: 20px;
	text-align: center;
}
