{% extends './page.njk' %}
{% from 'article-list.njk' import articleList %}
{% from 'accordion.njk' import accordion %}
{% from 'tag-list.njk' import tagList %}
{% set ARTICLES_COUNT = 3 %}
{% set ACCORDION_DEFAULT_OPENED_WIDTH = 768 %}
{% set mentionData = mentions[page.url] %}
{% set lastChangelogItem = changelogs | last %}

{% block font %}
	<link rel="preload" href="/fonts/monaspace-neon.woff2" crossorigin as="font" type="font/woff2" />
{% endblock %}

{% block content %}
	<div class="article box">
		<header class="article__header">
			{{ tagList(items=tags, className="article__tags-list") }}
			<h1 class="article__title">{{ title | safe }}</h1>
			<p class="article__item-dates">
				<time class="article__item-date" datetime="{{ date | dateISO }}">{{ date | dateFormatted }}</time>
				{% if lastChangelogItem %}
					<time class="article__item-updated" datetime="{{ lastChangelogItem.date | dateISO }}">
						Updated: {{ lastChangelogItem.date | dateFormatted }}
					</time>
				{% endif %}
			</p>
		</header>
		<div class="article__wrapper">
			{% call accordion(className="article__toc-wrapper", title="Content", defaultOpenedWidth=ACCORDION_DEFAULT_OPENED_WIDTH) %}
				<div class="article__toc toc"></div>
			{% endcall %}
			{% if changelogs.length %}
				{% call accordion(className="article__changelog", title="Changelog", defaultOpenedWidth=ACCORDION_DEFAULT_OPENED_WIDTH) %}
					<ul class="article__timeline timeline">
						{% for changelog in changelogs %}
							<li class="timeline__item">
								<p class="timeline__item-dates">
									<time
										class="timeline__item-date timeline__item-date--start"
										datetime="{{ changelog.date | dateISO }}"
									>
										{{ changelog.date | dateFormatted }}
									</time>
								</p>
								<div class="timeline__item-wrapper">
									<p class="timeline__item-description">{{ changelog.message | safe }}</p>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endcall %}
			{% endif %}
			<div class="article__content content">{{ content | safe }}</div>
			<section class="article__mentions mentions">
				<header class="mentions__header">
					<h2 class="mentions__title">Webmentions</h2>
					<p class="mentions__description">
						If you liked this article and think others should read it, please share it.
					</p>
				</header>
				<ul class="mentions__stats-list">
					<li class="mentions__stats-item mentions__stats-item--likes">
						{{ mentionData.likesCount or 0 }} <span class="visually-hidden">likes</span>
					</li>
					<li class="mentions__stats-item mentions__stats-item--reposts">
						{{ mentionData.repostsCount or 0 }} <span class="visually-hidden">reposts</span>
					</li>
					<li class="mentions__stats-item mentions__stats-item--comments">
						{{ mentionData.mentions.length or 0 }} <span class="visually-hidden">comments</span>
					</li>
				</ul>
				{% if mentionData.mentions.length %}
					<ul class="mentions__list">
						{% for mention in mentionData.mentions %}
							<li class="mentions__item">
								<div class="mentions__author">
									<div
										class="mentions__author-picture {{ "mentions__author-picture--" + mention.fromType if mention.fromType }}"
									>
										<img
											class="mentions__author-avatar"
											src="{{ mention.author.avatarUrl }}"
											alt="{{ mention.author.name }}"
											width="40"
											height="40"
											decoding="async"
											load="lazy"
											eleventy:ignore
										/>
									</div>
									<h3 class="mentions__author-name">{{ mention.author.name }}</h3>
								</div>
								<time class="mentions__date" datetime="{{ mention.date }}">
									{{ mention.date | dateFormatted }}
								</time>
								<div class="mentions__content content">{{ mention.content | safe }}</div>
								<a
									class="mentions__origin action"
									href="{{ mention.url }}"
									target="_blank"
									aria-label="View original"
								></a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="mentions__form-wrapper">
					<p class="mentions__form-description">
						These are <a href="https://indieweb.org/webmention" target="_blank">webmentions</a> via the
						<a href="https://indieweb.org/" target="_blank">IndieWeb</a> and
						<a href="https://webmention.io/" target="_blank">webmention.io</a>. Mention this post from your
						site:
					</p>
					<form
						class="mentions__form"
						method="POST"
						action="https://webmention.io/{{ global.host }}/webmention"
					>
						<input
							class="mentions__form-input"
							type="hidden"
							name="target"
							value="{{ global.domain + page.url }}"
						/>
						<input
							class="mentions__form-input input"
							type="url"
							name="source"
							placeholder="https://example.com"
							required
							aria-label="Webmention source"
						/>
						<button class="mentions__form-button action button" type="submit">Send Webmention</button>
					</form>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block aside %}
	<aside class="articles box">
		<h2 class="articles__title">Lastest Article</h2>
		{{ articleList(items=collections.articles | reverse, className="articles__article-list", maxCount=ARTICLES_COUNT, pageUrl=page.url) }}
		<a class="articles__all action button" href="/articles">View all articles</a>
	</aside>
{% endblock %}
