{% set isRoot = page.url == '/' %}
{% set pageTitle = global.title if isRoot else title + ' | ' + global.title %}
{% set pageDescription = description if description else global.description %}

<!doctype html>
<html class="page" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ pageTitle }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/styles/index.css" />

		<link
			rel="preload"
			href="/fonts/red-hat-display-variable.woff2"
			crossorigin="anonymous"
			as="font"
			type="font/woff2"
		/>
		<link
			rel="preload"
			href="/fonts/saira-extra-condensed-400.woff2"
			crossorigin="anonymous"
			as="font"
			type="font/woff2"
		/>

		<link rel="icon" href="/images/favicons/favicon.ico" sizes="any" />
		<link rel="icon" href="/images/favicons/any.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/images/favicons/180.png" />
		<link rel="manifest" href="/manifest.json" />

		<link rel="canonical" href="{{ global.domain }}" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth" />

		<meta name="description" content="{{ pageDescription }}" />
		<meta name="generator" content="{{ eleventy.generator }}" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ pageTitle }}" />
		<meta property="og:description" content="{{ pageDescription }}" />
		<meta property="og:url" content="{{ global.domain + page.url }}" />

		<meta property="og:image" content="{{ global.domain }}/images/cover.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@what1s1oveee" />
	</head>
	<body class="page__body">
		{% include 'skip-link.njk' %}
		{% include 'header.njk' %}

		<main class="main" id="main">{% block content %}{% endblock %}</main>

		{% block aside %}{% endblock %}
		{% include 'footer.njk' %}
		{% include 'easter-egg.njk' %}
		{% include 'toast.njk' %}
		{% include 'shapes.njk' %}

		<script src="/scripts/index.js" defer></script>
	</body>
</html>
