body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: var(--font-family);
	background-color: var(--color-light);
}
