:root {
	--z-index-100: 100;
	--z-index-200: 200;
	--z-index-300: 300;
	--z-index-tooltip: var(--z-index-300);
	--color-white-100: oklch(100% 0 0deg);
	--color-black-100: oklch(0% 0 0deg);
	--color-red-100: oklch(63% 0.26 29.23deg);
	--color-dark: var(--color-black-100);
	--color-light: var(--color-white-100);
	--color-focus: var(--color-red-100);
	--timing-function-glitch: cubic-bezier(0.5, -0.25, 0.75, 1);
	--font-family: "Helvetica", "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-dark: var(--color-white-100);
		--color-light: var(--color-black-100);
	}
}
