---
title: Not found
description: A missed page
layout: page.njk
permalink: 404.html
---

<div class="not-found column">
	<h1 class="not-found__title">Not found</h1>
	<p class="not-found__desc">
		Yeah, I also don't like broken links. Please,
		<a class="not-found__desc-link" href="{{ global.repo }}/issues/new" target="_blank" rel="noreferrer noopener"
			>create an issue</a
		>
		if you truly ended up here <i>unexpectedly</i>.
	</p>
</div>
