<!doctype html>
<html class="page" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Vladyslav Zubko | Interface Developer</title>

		<meta name="description" content="Interface Developer" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="Vladyslav Zubko" />
		<meta property="og:site_name" content="Interface Developer" />
		<meta property="og:url" content="https://whatislove.dev/" />
		<meta
			property="og:image"
			content="https://whatislove.dev/images/logo-social.og.png"
		/>

		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/images/icons/icon.svg" type="image/svg+xml" />
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body class="page__body">
		{{ content | safe }}
	</body>
</html>
