---
title: Not found
description: A missed page
layout: page.njk
permalink: 404.html
---

{% from 'live-logo.njk' import liveLogo %}
{% from 'settings.njk' import settings %}

<main class="not-found section-header starry-sky">
	<a class="not-found__logo-wrapper" href="/">
		{{ liveLogo('not-found__logo') }}
		<span class="visually-hidden">Go to home page</span>
	</a>
	<h1 class="section-header__title">Not found.</h1>
	<p class="section-header__desc">Yes, I also don't like broken links. Please, <a href="https://github.com/what1s1ove/whatislove.dev/issues" target="_blank" rel="noreferrer noopener">create an issue</a> if you truly ended up here <i>unexpectedly</i>.</p>
	{{ settings('not-found__settings') }}
</main>
