<ul class="{{ socialListClassName }} social-list">
	<li class="social-list__item">
		<a
			class="social-list__item-link social-list__item-link--github"
			href="https://github.com/what1s1ove"
			target="_blank"
			rel="noreferrer"
		>
			<span class="social-list__item-title visually-hidden">GitHub</span>
		</a>
	</li>
	<li class="social-list__item">
		<a
			class="social-list__item-link social-list__item-link--linkedin"
			href="https://www.linkedin.com/in/what1s1ove"
			target="_blank"
			rel="noreferrer"
		>
			<span class="social-list__item-title visually-hidden"
				>Linkedin</span
			>
		</a>
	</li>
	<li class="social-list__item">
		<a
			class="social-list__item-link social-list__item-link--telegram"
			href="https://t.me/dugga"
			target="_blank"
			rel="noreferrer"
		>
			<span class="social-list__item-title visually-hidden"
				>Telegram</span
			>
		</a>
	</li>
</ul>
