.exp-filter {
  z-index: var(--z-index--level-three);
  position: sticky;
  top: -1px;

  background-color: var(--color--primary);

  box-shadow: 0 1px 10px 0 var(--color--primary--opacity);
}

.exp-filter__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 60px;
  padding: 5px 23px;
}

.exp-filter__skills-type {
  margin: 0;
  padding: 0;

  border: 0;
}

.exp-filter__skill-types {
  margin: 0;
  padding: 0;

  border: 0;
}

.exp-filter__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.exp-filter__item {
  padding: 0 5px 0 0;
}

@media (min-width: 350px) {
  .exp-filter__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .exp-filter__skill-types .exp-filter__item {
    width: 50%;
  }
}

@media (min-width: 640px) {
  .exp-filter__wrapper {
    padding: 10px 8px;
  }

  .exp-filter__skill-types .exp-filter__item {
    width: unset;
  }
}

@media (min-width: 940px) {
  .exp-filter__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 17px 8px;
  }
}
