.favorites {
  padding: 30px 0 0;

  background-color: var(--color--secondary);
}

.favorites__wrapper {
  position: relative;

  background: repeating-conic-gradient(
      var(--color--primary) 0% 25%,
      var(--color--secondary) 0% 50%
    )
    50%/ 50px 50px;
}

.favorites__wrapper::before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 100%;

  background: repeating-conic-gradient(
      var(--color--secondary) 0% 25%,
      var(--color--primary) 0% 50%
    )
    50%/ 50px 50px;

  transition: opacity var(--transition-duration--theme);

  opacity: 0;
}

html[data-theme='light'] .favorites::before {
  opacity: 1;
}

.favorites__header {
  margin: 0 0 35px;
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 35px 15px;

  list-style: none;
}

.favorites__item {
  position: relative;
  z-index: var(--z-index--level-one);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;
  margin: 10px;

  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;

  background-color: var(--color--secondary);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 120px;

  border: 2px solid var(--color--primary);
  border-radius: 50%;

  box-shadow: 0 1px 10px 0 var(--color--primary);
}

.favorites__item--html {
  background-image: url('../img/favorites-html.svg');
}

.favorites__item--css {
  background-image: url('../img/favorites-css.svg');
}

.favorites__item--js {
  background-image: url('../img/favorites-js.svg');
}

@media (prefers-color-scheme: dark) {
  .favorites__wrapper::before {
    opacity: 1;
  }
}

@media print {
  .favorites {
    display: none;
  }
}

@media (min-width: 550px) {
  .favorites__list {
    padding: 40px 15px;
  }
}

@media (min-width: 810px) {
  .favorites__list {
    padding: 45px 15px;
  }
}

@media (min-width: 940px) {
  .favorites__header {
    margin: 0 0 50px;
  }
}
