.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 15px;
}

.footer__social-list {
  margin: 0 0 15px;
}

.footer__routine-wrapper svg {
  fill: var(--color--primary);
}
