.form-control {
  display: flex;
  align-items: center;

  padding: 2px 2px 2px 7px;

  font-size: var(--font-size--small);
  color: var(--color--secondary);
  white-space: nowrap;

  border-radius: 10px;

  cursor: pointer;
}

.form-control__input {
  flex-shrink: 0;
  position: relative;

  margin: 0;

  appearance: none;

  cursor: pointer;
}

.form-control__input--checkbox {
  display: block;

  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;

  background-color: var(--color--secondary);

  border: 0;
  border-radius: 0;
}

.form-control__input--checkbox::before {
  position: absolute;
  top: 10px;
  left: 7px;

  content: '';
  width: 14px;
  height: 6px;

  border: 2px solid var(--color--primary);
  border-top: 0;
  border-right: 0;

  transform: scale(0) rotate(-45deg);
  transform-origin: bottom left;

  transition: transform 0.1s ease-in 25ms;
}

.form-control__input--checkbox:checked::before {
  transform: scale(1) rotate(-45deg);
}
