.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.header__name {
  width: calc(100% / 1.45);
  margin: 0 15px 30px;
  padding: 5px 10px;

  font-size: 35px;
  text-transform: uppercase;
  text-align: center;

  border: 4px solid var(--color--primary);
}

.header__name-intro {
  margin: 0;

  text-transform: uppercase;
  letter-spacing: 4px;
}

.header__navigation-wrapper {
  z-index: var(--z-index--level-two);

  position: fixed;
  top: 13px;
  right: 15px;

  display: flex;
  justify-content: flex-end;

  width: 45px;
  height: 45px;

  transition: all 0.3s;
}

.header--active .header__navigation-wrapper {
  z-index: var(--z-index--level-five);
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--color--primary--opacity);
}

.header__toggle-button {
  position: fixed;
  top: 13px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  padding: 0;

  background-color: var(--color--primary);

  border: 0;

  cursor: pointer;
}

.header__toggle-object {
  position: relative;

  display: block;

  width: 30px;
  height: 3px;

  background-color: var(--color--secondary);
}

.header--active .header__toggle-object {
  background-color: transparent;
}

.header__toggle-object::before,
.header__toggle-object::after {
  position: absolute;
  left: 0;

  content: '';
  width: 100%;
  height: 3px;

  background-color: var(--color--secondary);

  transform-origin: 50% 50%;
  transition: top 0.3s 0.3s, transform 0.3s, background-color 500ms;
}

.header--active .header__toggle-object::before,
.header--active .header__toggle-object::after {
  top: 0;

  transition: top 0.3s, transform 0.3s 0.5s;
}

.header__toggle-object::before {
  top: 10px;
}

.header--active .header__toggle-object::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.header__toggle-object::after {
  top: -10px;
}

.header--active .header__toggle-object::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.header__navigation {
  display: none;
}

.header--active .header__navigation {
  display: block;
}

.header--active .header__settings {
  display: none;
}
