.intro {
  background-color: var(--color--secondary);
}

.intro__wrapper {
  padding: 30px 0;
}

.intro__header {
  margin: 0 0 35px;
}

.intro__content {
  display: grid;
  gap: 25px 0;
}

.intro__image-wrapper {
  position: relative;
  width: 305px;
  margin: 0 auto;
  padding: 0 0 0 25px;
}

.intro__image-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 275px;
  background-color: var(--color--primary);
  clip-path: url("#intro-bg");
}

.intro__image-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  filter: drop-shadow(-8px 7px 0.3px var(--color--secondary));
}

.intro__personal-wrapper {
  padding: 0 30px;
}

.intro__personal-title {
  margin: 0 0 15px;
  text-align: center;
  text-transform: uppercase;
}

.intro__list {
  display: grid;
  gap: 15px 0;
  margin: 0 0 25px;
  padding: 0;
}

.intro__item {
  display: grid;
  gap: 3px 0;
}

.intro__item-title {
  font-weight: 700;
}

.intro__item-desc {
  margin: 0;
  line-height: 1;
}

.intro__item-desc a {
  color: inherit;
  text-decoration: none;
}

.intro__item-desc a[href]:hover {
  text-decoration: underline;
}

.intro__myself-title {
  margin: 0 0 5px;
  text-align: center;
  text-transform: uppercase;
}

.intro__myself-desk {
  margin: 0;
  text-align: center;
}

@media print {
  .intro * {
    color: #000000;
  }

  .intro__image-wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .intro__header {
    display: none;
  }

  .intro__item--phone {
    position: unset;
    width: unset;
    height: unset;
    clip-path: unset;
  }

  .intro__item-title::after {
    content: ":";
  }

  .intro__item--socials .intro__item-title {
    position: unset;
    width: unset;
    height: unset;
    clip-path: unset;
  }

  .intro__item-desc {
    padding: 0 0 0 7px;
  }
}

@media (min-width: 640px) {
  .intro__wrapper {
    padding: 30px 15px 50px;
  }

  .intro__content {
    grid-auto-flow: column;
    justify-content: center;
    gap: 0 60px;
  }

  .intro__personal-wrapper {
    padding: 0;
  }

  .intro__personal-title {
    text-align: left;
  }

  .intro__myself-title {
    margin: 0 0 15px;
    text-align: left;
  }

  .intro__myself-desk {
    text-align: left;
  }
}

@media (min-width: 940px) {
  .intro__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 30px 15px 80px;
  }

  .intro__header {
    margin: 0 0 50px;
  }
}
