.loader {
  display: block;
  max-width: 75px;
  margin: 35px auto;
  animation: 3s linear infinite loader-animation;
}

.loader circle {
  display: block;
  animation: 800ms ease-in-out infinite both loader-circle-animation;
  transform-origin: 50% 50%;
  fill: transparent;
  stroke: var(--color--primary);
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 6px;
}
