.not-easter-egg {
  position: absolute;
  z-index: var(--z-index--level-four);
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}

.not-easter-egg::before {
  position: absolute;
  top: 50%;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background-image:
    linear-gradient(
      90deg,
      rgba(255 255 255 / 0%),
      rgb(255 215 0 / 0.15%)
    );
  transform: skewX(-25deg) translateY(-50%);
  animation: shine 10s infinite;
  pointer-events: none;
}

.not-easter-egg:hover::before {
  display: none;
}

.not-easter-egg__button-wrapper {
  display: block;
  padding: 12px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.not-easter-egg__button-wrapper:hover,
.not-easter-egg__button-wrapper:focus-within {
  opacity: 1;
}

.not-easter-egg__button {
  position: relative;
  z-index: 0;
  min-width: 220px;
  padding: 10px 15px;
  color: var(--color--primary);
  background-color: var(--color--secondary);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.not-easter-egg__button::before {
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-image:
    linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
  background-size: 400%;
  border-radius: 10px;
  filter: blur(5px);
  animation: glowing 20s linear infinite;
}

.not-easter-egg__button:active {
  color: var(--color--primary);
}

.not-easter-egg__button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color--secondary);
  border-radius: 10px;
}

.not-easter-egg__button:active::after {
  background-color: transparent;
}
