.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header__title {
  margin: 0;

  text-transform: uppercase;
  font-weight: 600;
}

.section-header__desc {
  position: relative;

  margin: 0;
  padding: 0 0 5px;
}

.section-header__desc::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  content: '';
  width: calc(100% / 1.2);
  height: 1px;

  background-color: var(--color--primary);
}
