.settings {
  z-index: 10;

  position: fixed;
  right: 15px;
  bottom: 15px;

  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.header--active .settings {
  display: none;
}

.settings__theme-button {
  display: flex;
  align-items: center;

  padding: 2px;

  text-align: center;
  color: var(--color--primary);

  border-radius: 10px;

  cursor: pointer;
}

.settings__theme-button:focus-within {
  box-shadow: var(--box-shadow--focus);
}

.settings__theme-button input {
  position: relative;

  display: block;

  width: 45px;
  height: 20px;
  margin: 0;

  background-image: url("../img/theme-light.svg");
  background-repeat: no-repeat;
  background-position: right 5px top 50%;
  background-size: 15px;

  border: 1px solid var(--color--primary);
  border-radius: 20px;

  appearance: none;
  cursor: pointer;
}

.settings__theme-button input:checked {
  background-image: url("../img/theme-dark.svg");
  background-position: left 5px top 50%;
  background-size: 13px;
}

.settings__theme-button input:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(3px, -50%);

  content: "";
  width: 15px;
  height: 15px;

  background-color: var(--color--primary);
  border-radius: 50%;

  transition: transform 500ms;
}

.settings__theme-button input:checked:before {
  transform: translate(25px, -50%);
}

.settings__theme-button input:focus {
  box-shadow: none;
}