.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__item:not(:last-child) {
  margin: 0 15px 0 0;
}

.social-list__item-link {
  display: block;
  min-width: 35px;
  min-height: 35px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: var(--invert-icon--primary);
  transition: opacity 200ms ease-out;
}

.social-list__item-link:hover {
  opacity: 0.7;
}

.social-list__item-link--github {
  background-image: url("../img/social-github.bg.svg");
}

.social-list__item-link--linkedin {
  background-image: url("../img/social-linkedin.bg.svg");
}

.social-list__item-link--telegram {
  background-image: url("../img/social-telegram.bg.svg");
}

@media print {
  .social-list {
    flex-direction: column;
  }

  .social-list__item {
    display: flex;
    align-items: center;
  }

  .social-list__item-title {
    position: unset;
    width: unset;
    height: unset;
    margin: 0 5px 0 0;
    clip-path: unset;
  }

  .social-list__item-title::after {
    content: ":";
  }

  .social-list__item-link {
    filter: none;
  }

  .social-list__item-link::after {
    content: attr(href);
  }
}
