.timeline__title {
  margin: 0;
}

.timeline__list-wrapper {
  height: 100vh;

  padding: 0 30px;

  overflow-y: auto;
}

.timeline__list {
  position: relative;

  margin: 0;
  padding: 20px 0;

  list-style: none;
}

.timeline__list::before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  height: 99%;
  width: 2px;

  background-color: var(--color--primary);
}

.timeline__list::after {
  position: absolute;
  left: -6px;
  bottom: 0;

  content: '';

  border: 7px solid transparent;
  border-top: 14px solid var(--color--primary);

  transition-duration: var(--transition-duration--theme);
}

.timeline__item {
  position: relative;

  min-height: 175px;
  margin: 0 0 15px 30px;
}

.timeline__item-wrapper {
  padding: 20px;

  background-color: var(--color--primary);

  border-radius: 4px;
}

.timeline__item-title {
  margin: 0 0 10px;

  color: var(--color--secondary);
}

.timeline__item-desc {
  margin: 0 0 10px;

  color: var(--color--secondary);
}

.timeline__dates {
  margin: 0;

  text-align: right;
  color: var(--color--secondary);
}

.timeline__dates time {
  text-transform: uppercase;
}

.timeline__icon-wrapper {
  position: absolute;
  top: 20px;
  left: -52px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 46px;

  background-color: var(--color--primary);

  border-radius: 50%;
}

.timeline__item:hover .timeline__icon-wrapper {
  background-color: tomato;
}

.timeline__icon {
  fill: var(--color--secondary);
}

.timeline__item:hover .timeline__icon {
  fill: #ffffff;
}

.timeline__resume-link {
  position: relative;

  display: block;

  min-height: 60px;
  margin: 40px 0 0;

  color: var(--color--secondary);
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color--primary);

  overflow: hidden;

  box-shadow: 0 1px 10px 0 var(--color--primary--opacity);
}

.timeline__resume-link:focus {
  outline: 2px solid var(--outline-color);
}

.timeline__resume-icon {
  display: block;

  margin: 10px auto;

  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s cubic-bezier(0.425, -0.195, 0.005, 1.215),
    opacity 0.4s linear;
  transform: translate3d(0, -4em, 0) scale(0);

  fill: var(--color--secondary);
}

.timeline__resume-link:hover .timeline__resume-icon,
.timeline__resume-link:focus .timeline__resume-icon {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0) scale(1);
}

.timeline__resume-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 18px 0;

  text-align: center;

  visibility: visible;
  transition: transform 0.4s cubic-bezier(0.425, -0.195, 0.005, 1.215),
    opacity 0.13333s linear;
  transform: scale(1);

  opacity: 1;
}

.timeline__resume-link:hover .timeline__resume-text,
.timeline__resume-link:focus .timeline__resume-text {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 4em, 0) scale(0.25);
}

@media (min-width: 640px) {
  .timeline__list-wrapper {
    padding: 0 15px;
  }

  .timeline__list {
    display: flex;
    flex-direction: column;
  }

  .timeline__list::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline__list::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline__item {
    display: flex;
    flex-direction: column;

    margin: 0 0 25px;
  }

  .timeline__item:nth-child(even) {
    align-items: flex-end;
  }

  .timeline__item-wrapper {
    position: relative;

    width: 44%;
  }

  .timeline__item-wrapper::before {
    position: absolute;

    top: 30px;
    left: 99%;
    content: '';

    border: 15px solid transparent;
    border-left-color: var(--color--primary);

    transition-duration: var(--transition-duration--theme);
  }

  .timeline__item:nth-child(even) .timeline__item-wrapper::before {
    left: unset;
    right: 99%;

    border-color: transparent;
    border-right-color: var(--color--primary);
  }

  .timeline__item-desc {
    margin: 0;
  }

  .timeline__dates {
    position: absolute;
    top: 33px;
    right: -250px;

    color: var(--color--primary);
  }

  .timeline__item:nth-child(even) .timeline__dates {
    right: unset;

    left: -250px;
  }

  .timeline__icon-wrapper {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 940px) {
  .timeline__list-wrapper {
    max-width: 940px;

    margin: 0 auto;
  }

  .timeline__item-wrapper {
    width: 45%;
  }
}
