:focus {
  outline: 0;

  box-shadow: var(--box-shadow--focus);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color--primary);

  border-radius: 4px;

  transition-duration: var(--transition-duration--theme);
}

::-webkit-scrollbar-track {
  background-color: var(--color--secondary);

  transition-duration: var(--transition-duration--theme);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  transition: border-color, background-color var(--transition-duration--theme);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: var(--font-size--default);
  line-height: 1.5;
  color: var(--color--primary);
  font-weight: 400;
  font-style: normal;

  background-color: var(--color--secondary);

  text-rendering: optimizeSpeed;
}

img {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

html[data-motion='reduce'],
html[data-motion='reduce'] *,
html[data-motion='reduce'] *::after,
html[data-motion='reduce'] *::before {
  background-attachment: initial !important;

  transition: unset !important;
  animation-delay: -1ms !important;
  animation-duration: 1ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;

  scroll-behavior: auto !important;
}
