::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--color--secondary);
}

:focus {
  outline: 3px solid var(--outline-color);
  outline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-duration: var(--transition-duration--theme);
  transition-property: border-color, background-color, filter;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--color--primary);
  font-weight: 400;
  font-size: var(--font-size--default);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  line-height: 1.5;
  background-color: var(--color--secondary);
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

html[data-motion='reduce'],
html[data-motion='reduce'] *,
html[data-motion='reduce'] *::after,
html[data-motion='reduce'] *::before {
  background-attachment: initial;
  transition: unset;
  transition-delay: 0s;
  transition-duration: 0s;
  animation-duration: 1ms;
  animation-delay: -1ms;
  animation-iteration-count: 1;
  scroll-behavior: auto;
}
