:root {
  font-size: 62.5%;
  --font-size--small: 1.4rem;
  --font-size--default: 1.6rem;
  --font-size--large: 2.4rem;

  --width--tablet: 640px;
  --width--desktop: 960px;

  --z-index--level-one: 100;
  --z-index--level-two: 200;
  --z-index--level-three: 300;
  --z-index--level-four: 400;
  --z-index--level-five: 500;

  --transition-duration--theme: 0.5s;

  --outline-color: #5793f9;

  --box-shadow--focus: 0 0 0 2px var(--outline-color);
}

:root,
html[data-theme="light"] {
  --color--primary: #000000;
  --color--primary--opacity: rgba(0, 0, 0, 0.9); 
  --color--secondary: #ffffff;
  --color--secondary--opacity: rgba(255, 255, 255, 0.9);
}

html[data-theme="dark"] {
  --color--primary: #ffffff;
  --color--primary--opacity: rgba(255, 255, 255, 0.9); 
  --color--secondary: #000000;
  --color--secondary--opacity: rgba(0, 0, 0, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {  
    --color--primary: #ffffff;
    --color--primary--opacity: rgba(255, 255, 255, 0.9); 
    --color--secondary: #000000;
    --color--secondary--opacity: rgba(0, 0, 0, 1);
  }
}