html[data-motion="reduce"],
html[data-motion="reduce"] *,
html[data-motion="reduce"] *::after,
html[data-motion="reduce"] *::before {
  background-attachment: initial;
  transition: unset;
  transition-delay: 0s;
  transition-duration: 0s;
  animation-duration: 1ms;
  animation-delay: -1ms;
  animation-iteration-count: 1;
  scroll-behavior: auto;
}
