@view-transition {
	navigation: auto;
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in {
		from {
			filter: blur(1px);
			opacity: 0;
		}
	}

	@keyframes fade-out {
		to {
			filter: blur(1px);
			opacity: 0;
		}
	}

	@keyframes pop-in {
		from {
			scale: 0.995;
			translate: 25px 0;
		}
	}

	@keyframes pop-out {
		to {
			scale: 0.995;
			translate: -25px 0;
		}
	}

	::view-transition-old(root) {
		animation:
			110ms ease-out both fade-out,
			220ms ease-in both pop-out;
	}

	::view-transition-new(root) {
		animation:
			110ms ease-in 50ms both fade-in,
			220ms ease-out both pop-in;
	}
}
