:root {
	color-scheme: light;

	--font-family-text: "Red Hat Display", sans-serif;
	--font-family-highlight: "Saira Extra Condensed", sans-serif;
	--background-page: hsl(var(--color-page-background))
		var(--background-image-noise) repeat 0 / contain;
	--color-pink-100: 8 47% 75%;
	--color-red-100: 0 90.91% 61.18%;
	--color-red-200: 0 60.32% 51.57%;
	--color-white-100: 0 0% 100%;
	--color-white-200: 0 0% 97%;
	--color-blue-100: 199.68deg 74.7% 50.39%;
	--color-yellow-100: 51 100% 50%;
	--color-gray-100: 0 0% 43.92%;
	--color-black-100: 0 0% 0%;
	--color-black-200: 0 0% 1%;
	--radius-focus: 2px;
	--offset-focus: 2px;
	--outline-focus: 2px solid hsl(var(--color-red-100));
	--filter-sticker: url("#sticker");
	--background-image-noise: url("/images/noise.svg");

	/* fonts */

	--font-size-text-small: 0.875rem;
	--font-size-text-base: 1rem;
	--font-size-heading-3: 1.25rem;
	--font-size-heading-2: 1.75rem;
	--font-size-highlight: 2.75rem;

	@supports (font-variation-settings: normal) {
		--font-family-text: "Red Hat Display Variable", sans-serif;
	}

	/* theme */

	--color-page-background: var(--color-white-100);
	--color-page-background-highlight: var(--color-black-100) / 5%;
	--color-scroll-shadow: var(--color-black-100);
	--color-intro-background: var(--color-white-200);
	--color-intro-image-mask: var(--color-white-100);
	--color-technology-background: var(--color-black-100);
	--color-icon: var(--color-black-200);
	--color-icon-inverted: var(--color-white-100);
	--color-sticker: var(--color-black-100) / 10%;
	--color-text: var(--color-black-200);

	&:has(.settings--theme .settings__theme-control[value="dark"]:checked) {
		color-scheme: dark;

		--color-page-background: var(--color-black-200);
		--color-page-background-highlight: var(--color-white-100) / 10%;
		--color-scroll-shadow: var(--color-white-100);
		--color-intro-background: var(--color-black-100) / 15%;
		--color-intro-image-mask: var(--color-black-100);
		--color-technology-background: var(--color-white-100);
		--color-icon: var(--color-white-100);
		--color-icon-inverted: var(--color-black-200);
		--color-sticker: var(--color-white-100);
		--color-text: var(--color-white-100);
	}

	@media (prefers-color-scheme: dark) {
		&:has(.settings--theme .settings__theme-control[value="auto"]:checked) {
			color-scheme: dark;

			--color-page-background: var(--color-black-200);
			--color-page-background-highlight: var(--color-white-100) / 10%;
			--color-scroll-shadow: var(--color-white-100);
			--color-intro-background: var(--color-black-100) / 15%;
			--color-intro-image-mask: var(--color-black-100);
			--color-technology-background: var(--color-white-100);
			--color-icon: var(--color-white-100);
			--color-icon-inverted: var(--color-black-200);
			--color-sticker: var(--color-white-100);
			--color-text: var(--color-white-100);
		}
	}
}

@custom-media --width-tablet (width >= 768px);
@custom-media --width-desktop (width >= 1450px);
