@custom-media --width-tablet (width >= 768px);
@custom-media --width-desktop (width >= 1450px);

:root {
	color-scheme: light dark;

	/* Sizes */
	--size-inline-box-full: calc(infinity);
	--size-inline-box-wide: 1120px;
	--size-inline-box-normal: 960px;
	--size-inline-box: var(--size-inline-box-normal);
	--padding-inline-box: 22px;
	--padding-block-box: 25px;

	@media (--width-tablet) {
		--padding-block-box: 35px;
	}

	@media (--width-desktop) {
		--padding-block-box: 50px;
	}

	/* Colors */

	--color-pink-100: oklch(78% 0.06 28.55deg);
	--color-red-100: oklch(65% 0.22 25.67deg);
	--color-red-200: oklch(57% 0.19 25.36deg);
	--color-white-100: oklch(100% 0 0deg);
	--color-white-200: oklch(99% 0 0deg);
	--color-blue-100: oklch(67% 0.14 236.72deg);
	--color-blue-200: oklch(57% 0.14 253.31deg);
	--color-yellow-100: oklch(89% 0.18 96.17deg);
	--color-yellow-200: oklch(90% 0.18 101.68deg);
	--color-green-100: oklch(51% 0.15 135.72deg);
	--color-gray-100: oklch(55% 0 0deg);
	--color-purple-100: oklch(44% 0.16 303.38deg);
	--color-black-100: oklch(0% 0 0deg);
	--color-black-200: oklch(14% 0 0deg);

	/* Focus */

	--radius-focus: 2px;
	--offset-focus: 2px;
	--outline-focus: 2px solid var(--color-red-100);

	/* Filters */

	--filter-sticker: url("#sticker");

	/* Backgrounds */

	--background-page: var(--color-page-background) var(--background-image-page);
	--background-image-page: url("/images/noise.png");

	/* Fonts */

	--font-family-text: "Red Hat Display", sans-serif;
	--font-family-highlight: "Saira Extra Condensed", sans-serif;
	--font-family-code: "Monaspace Neon", monospace;
	--font-size-text-small: 0.875rem;
	--font-size-text-base: 1rem;
	--font-size-heading-4: 1.15rem;
	--font-size-heading-3: 1.25rem;
	--font-size-heading-2: 1.75rem;
	--font-size-heading-1: 2rem;
	--font-size-highlight: 2.75rem;

	@supports (font-variation-settings: normal) {
		--font-family-text: "Red Hat Display Variable", sans-serif;
	}

	/* Theme */

	--color-page-background: light-dark(
		var(--color-white-200),
		var(--color-black-200)
	);
	--color-page-background-highlight: light-dark(
		oklch(from var(--color-black-100) l c h / 5%),
		oklch(from var(--color-white-100) l c h / 10%)
	);
	--color-page-background-code: light-dark(
		oklch(from var(--color-black-100) l c h / 2%),
		oklch(from var(--color-white-100) l c h / 10%)
	);
	--color-scroll-shadow: light-dark(
		var(--color-black-100),
		var(--color-white-100)
	);
	--color-intro-background: light-dark(
		oklch(from var(--color-white-100) l c h / 60%),
		oklch(from var(--color-black-100) l c h / 40%)
	);
	--color-intro-image-mask: light-dark(
		var(--color-white-100),
		var(--color-black-100)
	);
	--color-technology-background: light-dark(
		var(--color-black-100),
		var(--color-white-100)
	);
	--color-icon: light-dark(var(--color-black-200), var(--color-white-100));
	--color-icon-inverted: light-dark(
		var(--color-white-100),
		var(--color-black-200)
	);
	--color-sticker: light-dark(
		oklch(from var(--color-black-100) l c h / 10%),
		var(--color-white-100)
	);
	--color-text: light-dark(var(--color-black-200), var(--color-white-100));

	/* Code highlight */

	.shiki,
	.shiki span {
		color: light-dark(var(--shiki-light), var(--shiki-dark));
	}

	&:has(.settings--theme .settings__theme-control[value="dark"]:checked) {
		color-scheme: dark;
	}

	&:has(.settings--theme .settings__theme-control[value="light"]:checked) {
		color-scheme: light;
	}

	@media (prefers-color-scheme: dark) {
		&:has(.settings--theme .settings__theme-control[value="auto"]:checked) {
			color-scheme: dark;
		}
	}
}
