.footer {
	display: grid;
	place-content: center;
	gap: 15px 0;
	padding: 30px 15px;
	background-color: var(--color-secondary);

	@media print {
		display: none;
	}
}

.footer__social-list {
	justify-content: center;
}

.footer__routine-wrapper {
	position: relative;
	width: 210px;
	height: 47px;

	&::before {
		position: absolute;
		top: 4px;
		right: 30px;
		z-index: var(--z-index-level-one);
		content: "";
		width: 42px;
		height: 32px;
		background-image: url("../images/routine-rose.bg.svg");
	}
}

.footer__routine {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../images/routine.bg.svg");
	filter: var(--invert-icon-primary);
}
