.intro {
	background-color: var(--color-secondary);

	@media print {
		* {
			color: #000000;
		}
	}
}

.intro__wrapper {
	padding: 30px 0;

	@media (--width-tablet) {
		padding: 30px 15px 50px;
	}

	@media (--width-desktop) {
		max-width: 940px;
		padding: 30px 15px 80px;
		margin: 0 auto;
	}
}

.intro__header {
	margin: 0 0 35px;

	@media (--width-desktop) {
		margin: 0 0 50px;
	}

	@media print {
		display: none;
	}
}

.intro__content {
	display: grid;
	gap: 25px 0;

	@media (--width-tablet) {
		grid-auto-flow: column;
		gap: 0 60px;
		justify-content: center;
	}
}

.intro__image-wrapper {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 305px;
	margin: 0 auto;
	overflow: hidden;

	&::before,
	&::after {
		position: absolute;
		left: 50%;
		width: 100%;
		content: "";
		mask-repeat: no-repeat;
		mask-position: 50% 50%;
		mask-size: contain;
		transform: translateX(-50%);
	}

	&::before {
		bottom: 0;
		height: 275px;
		background-color: var(--color-primary);
		mask-image: url("../images/intro-photo.mask.svg");
	}

	&::after {
		bottom: -0.5px;
		height: 145px;
		background-color: var(--color-secondary);
		mask-image: url("../images/intro-photo-border.mask.svg");
	}

	& img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		filter: drop-shadow(-8px 7px 0.3px var(--color-secondary));
		transform: translateX(15px);
		will-change: filter;
	}

	@media print {
		padding: 0;
		margin: 0 auto;

		&::before,
		&::after {
			display: none;
		}
	}
}

.intro__personal-wrapper {
	padding: 0 30px;

	@media (--width-tablet) {
		padding: 0;
	}
}

.intro__personal-title {
	margin: 0 0 15px;
	text-align: center;
	text-transform: uppercase;

	@media (--width-tablet) {
		text-align: left;
	}
}

.intro__list {
	display: grid;
	gap: 15px 0;
	padding: 0;
	margin: 0 0 25px;
}

.intro__item {
	display: grid;
	gap: 3px 0;
}

.intro__item--socials {
	@media print {
		& .intro__item-title {
			position: unset;
			width: unset;
			height: unset;
			clip-path: unset;
		}
	}
}

.intro__item-title {
	font-weight: 700;

	@media print {
		content: ":";
	}
}

.intro__item-desc {
	margin: 0;
	line-height: 1;

	& a {
		color: inherit;
		text-decoration: none;

		&[href]:hover {
			text-decoration: underline;
		}
	}

	@media print {
		padding: 0 0 0 7px;
	}
}

.intro__myself-title {
	margin: 0 0 5px;
	text-align: center;
	text-transform: uppercase;

	@media (--width-tablet) {
		margin: 0 0 15px;
		text-align: left;
	}
}

.intro__myself-desc {
	margin: 0;
	text-align: center;

	@media (--width-tablet) {
		text-align: left;
	}
}
