.social-list {
	display: flex;
	gap: 0 15px;
	padding: 0;
	margin: 0;
	list-style: none;

	@media print {
		flex-direction: column;
	}
}

.social-list__item {
	@media print {
		display: flex;
		align-items: center;
	}
}

.social-list__item-title {
	@media print {
		position: unset;
		width: unset;
		height: unset;
		margin: 0 5px 0 0;
		clip-path: unset;

		&::after {
			content: ":";
		}
	}
}

.social-list__item-link {
	display: block;
	min-width: 35px;
	min-height: 35px;
	filter: var(--invert-icon-primary);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: opacity 200ms ease-out;

	&:hover {
		opacity: 0.7;
	}

	@media print {
		filter: none;

		&::after {
			content: attr(href);
		}
	}
}

.social-list__item-link--github {
	background-image: url("../images/social-github.bg.svg");
}

.social-list__item-link--linkedin {
	background-image: url("../images/social-linkedin.bg.svg");
}

.social-list__item-link--telegram {
	background-image: url("../images/social-telegram.bg.svg");
}
