.starry-sky {
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300vw;
		height: 300vh;
		margin: -150vh 0 0 -150vw;
		pointer-events: none;
		content: "";
		background-image: url("../images/stars.bg.svg");
		filter: var(--invert-icon-secondary);
		background-size: 250px;
		animation: rotate 200s linear infinite;
	}
}
