.article {
	--gap: 30px;

	display: grid;
	gap: var(--gap);
	padding-block: 25px;

	@media (--width-desktop) {
		--gap: 50px;

		position: relative;
		padding-block: 50px;
	}
}

.article__header {
	display: grid;
	gap: 10px;
	padding: 22px;
	background-color: hsl(var(--color-intro-background));

	@media (--width-desktop) {
		box-sizing: border-box;
		inline-size: 100%;
		max-inline-size: 900px;
		padding: 30px;
		margin-block-start: -160px;
		margin-inline: auto;
	}
}

.article__wrapper {
	display: grid;
	gap: var(--gap);
	max-inline-size: 700px;
	margin-inline: auto;
}

.article__tags-list {
	place-content: center;
}

.article__title {
	margin: 0;
	font-size: var(--font-size-heading-1);
	font-weight: 600;
	text-align: center;
}

.article__item-dates {
	display: flex;
	gap: 50px;
	place-content: center;
	margin: 0;
	color: hsl(var(--color-gray-100));
}

.article__toc {
	@media (--width-desktop) {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		padding-inline: 20px;
	}
}

.article__changelog-title,
.article__toc-title {
	--color: var(--color-gray-100);

	display: flex;
	gap: 15px;
	font-family: var(--font-family-highlight);
	font-size: var(--font-size-heading-2);
	font-weight: 600;
	color: hsl(var(--color));
	text-transform: uppercase;

	&::after {
		display: block;
		inline-size: 18px;
		block-size: 10px;
		content: "";
		background-color: hsl(var(--color));
		mask-image: url("/images/icons.svg#caret-down");
		mask-repeat: no-repeat;
		mask-size: contain;
	}

	&[open]::after {
		mask-image: url("/images/icons.svg#caret-up");
	}
}

.article__changelog[open] .article__changelog-title,
.article__toc[open] .article__toc-title {
	&::after {
		mask-image: url("/images/icons.svg#caret-up");
	}
}

.article__changelog-list,
.article__toc-wrapper {
	padding-block: 20px;
}
