.articles {
	--size-inline-box: var(--size-inline-box-wide);

	display: grid;
	gap: 30px;
}

.articles__title {
	margin: 0;
	font-size: var(--font-size-heading-2);
	font-weight: 600;
	text-align: center;
}

.articles__all {
	place-self: center;
	padding-inline: 40px;
}
