.aside {
	--inset-border: 30px;

	position: relative;
	display: grid;
	gap: 20px;
	justify-items: center;
	padding-block: 100px;

	@media (--width-desktop) {
		--inset-border: 50px;

		padding-block: 150px;
	}
}

.aside__border {
	--color: hsl(var(--color-page-background-highlight));

	position: absolute;
	inset-inline: 0;
	display: inline-flex;
	gap: 25px;
	align-items: center;
	inline-size: calc(100% - (var(--padding-inline-box) * 2));
	margin-inline: auto;
	fill: var(--color);

	&::before,
	&::after {
		flex-grow: 1;
		flex-shrink: 0;
		block-size: 1px;
		content: "";
		background-color: var(--color);
	}

	@media (--width-desktop) {
		max-inline-size: var(--size-inline-box);
	}
}

.aside__border--top {
	inset-block-start: var(--inset-border);
}

.aside__border--bottom {
	inset-block-end: var(--inset-border);
}

.aside__title {
	font-family: var(--font-family-highlight);
	font-size: var(--font-size-highlight);
	text-align: center;
}

.aside__email {
	font-size: var(--font-size-heading-3);
	color: hsl(var(--color-red-100));
	text-underline-offset: 7px;
}
