.box {
	--has-padding-inline-box-doubled: 0;

	padding-block: var(--padding-block-box);
	padding-inline: calc(
		var(--padding-inline-box) +
			(var(--has-padding-inline-box-doubled) * var(--padding-inline-box))
	);

	@media (--width-desktop) {
		box-sizing: border-box;
		inline-size: 100%;
		max-inline-size: calc(
			var(--size-inline-box) + (var(--padding-inline-box) * 2)
		);
		margin-inline: auto;
	}
}
