.channel {
	display: grid;
	gap: 30px;
	padding-block: 25px;

	@media (--width-desktop) {
		box-sizing: border-box;
		grid-template-columns: max-content 1fr max-content;
		gap: 15px;
		max-inline-size: 1175px;
		padding-block: 50px;
		margin-inline: auto;
	}
}

.channel__content-list {
	--gap-y: 20px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px 20px;
	padding: 0;
	margin: 0;
	list-style: none;

	@media (--width-desktop) {
		--gap-y: 0;
	}
}

.channel__content-item {
	--margin: 50%;

	box-sizing: border-box;
	line-height: 1;
	border-radius: 30px;
}

.channel__content-item--shift-back {
	margin-inline: calc(0px - var(--margin)) 0;
}

.channel__content-item--shift-forward {
	margin-inline: var(--margin) 0;
}

.channel__content-item--full {
	grid-column: 1 / -1;
}

.channel__content-item--reaction,
.channel__content-item--icon {
	display: inline-flex;
	gap: 5px;
	place-items: center;
	place-self: start center;
	justify-content: center;
	min-inline-size: 50px;
	padding-block: 5px;
	padding-inline: 8px;
	font-weight: 600;
	color: hsl(var(--color-blue-100));
	background-color: hsl(var(--color-page-background-highlight));
}

.channel__content-item--icon {
	--size-icon: 20px;

	&::before {
		inline-size: var(--size-icon);
		block-size: var(--size-icon);
		content: "";
		background-size: contain;
	}
}

.channel__content-item--icon--lapka {
	&::before {
		background-image: url("/images/lapka.svg");
	}
}

.channel__content-item--technology {
	--direction-gradient-text: right;
	--direction-gradient-border: right;
	--color-gradient: hsl(var(--color-technology-background) / 25%) 0%,
		hsl(var(--color-technology-background) / 5%) 100%;

	position: relative;
	place-self: center;
	min-inline-size: 165px;
	padding-block: 15px;
	padding-inline: 25px 40px;
	font-size: var(--font-size-heading-3);
	font-weight: 500;
	text-align: center;
	background-image: linear-gradient(
		to var(--direction-gradient-text),
		var(--color-gradient)
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	&::before {
		position: absolute;
		inset: 0;
		content: "";
		background-image: linear-gradient(
			to var(--direction-gradient-border),
			var(--color-gradient)
		);
		mask-image: url("/images/icons.svg#speech-bubble");
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
	}
}

.channel__content-item--technology--left {
	--direction-gradient-border: left;

	padding-inline: 40px 25px;

	&::before {
		scale: -1 1;
	}
}

.channel__content {
	display: grid;
	gap: 15px;
	justify-items: center;
}

.channel__picture-wrapper {
	position: relative;
}

.channel__image {
	display: block;
	border-radius: 50%;
}

.channel__picture-object {
	--size: 32px;

	position: absolute;
	inset-block-end: -5px;
	inset-inline-end: -5px;
	box-sizing: border-box;
	inline-size: var(--size);
	block-size: var(--size);
	padding: 5px;
	background: var(--background-page);
	border-radius: 50%;
	fill: hsl(var(--color-blue-100));
}

.channel__link {
	font-size: var(--font-size-heading-3);
	font-weight: 600;
	color: hsl(var(--color-blue-100));
	text-underline-offset: 7px;
}

.channel__description {
	margin: 0;
	font-family: var(--font-family-highlight);
	font-size: var(--font-size-heading-2);
	text-align: center;
}
