.experience {
	display: grid;
	gap: 20px;
}

.experience__title {
	margin: 0;
	font-size: var(--font-size-heading-2);
	font-weight: 600;
}

.experience__form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.experience__form-label {
	padding-block: 5px;
	padding-inline: 14px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 5px;

	&:has(:checked) {
		background-color: hsl(var(--color-page-background-highlight));
	}

	&:focus-within {
		border-radius: var(--radius-focus);
		outline: var(--outline-focus);
		outline-offset: var(--offset-focus);
	}
}

.experience__timeline-wrapper {
	--size-inline-dates: 145px;

	block-size: 450px;
	overflow-y: auto;

	@media (--width-tablet) {
		block-size: 900px;
	}

	@media (--width-desktop) {
		margin-inline-start: calc(0px - var(--size-inline-dates));
	}
}
