.footer {
	display: grid;
	gap: 20px;
	padding-block: 25px;

	@media (--width-tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.footer__webring {
	--color: var(--color-gray-100);

	display: flex;
	gap: 10px;
	place-self: center;
	align-items: center;
	margin-block: 0 30px;

	@media (--width-tablet) {
		grid-column-start: span 2;
	}
}

.footer__webring-main {
	color: var(--color);
	text-underline-offset: 5px;
}

.footer__webring-link {
	--icon-size: 20px;

	&::before {
		width: var(--icon-size);
		height: var(--icon-size);
		content: "";
		background-color: var(--color);
		mask-image: url("/images/icons.svg#arrow");
		mask-repeat: no-repeat;
		mask-size: contain;
	}
}

.footer__webring-link--previous {
	transform: scaleX(-1);
}

.footer__credits {
	margin: 0;
	font-style: italic;
	color: var(--color-gray-100);
	text-underline-offset: 5px;
}

.footer__credits-icon {
	font-style: normal;
}

.footer__credits-designer {
	color: inherit;
}

.footer__copyrigng {
	order: calc(infinity);
	margin: 0;
	color: var(--color-gray-100);

	@media (--width-tablet) {
		order: initial;
	}
}
