.footer {
	display: grid;
	gap: 30px;
	margin-block: auto 0;
	color: hsl(var(--color-gray-100));

	@media (--width-tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.footer__links-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px 30px;
	max-inline-size: 250px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer__link {
	color: inherit;
	text-underline-offset: 4px;
	white-space: nowrap;
}

.footer__webring {
	display: flex;
	gap: 10px;
	place-self: center;
	align-items: center;
	margin-block: 0 50px;

	@media (--width-tablet) {
		place-self: start end;
		margin: 0;
	}
}

.footer__webring-main {
	color: inherit;
	text-underline-offset: 5px;
}

.footer__webring-link {
	--size-icon: 20px;

	color: inherit;

	&::before {
		inline-size: var(--size-icon);
		block-size: var(--size-icon);
		content: "";
		background-color: currentcolor;
		mask-repeat: no-repeat;
		mask-size: contain;
	}
}

.footer__webring-link--previous {
	mask-image: url("/images/icons.svg#arrow-left");
}

.footer__webring-link--next {
	mask-image: url("/images/icons.svg#arrow-right");
}

.footer__credits {
	margin: 0;
	font-size: var(--font-size-text-small);
	font-style: italic;
	text-underline-offset: 5px;

	@media (--width-tablet) {
		place-self: end;
	}
}

.footer__credits-icon {
	font-style: normal;
}

.footer__credits-designer {
	color: inherit;
}

.footer__copyright {
	order: calc(infinity);
	margin: 0;
	font-size: var(--font-size-text-small);

	@media (--width-tablet) {
		order: initial;
	}
}
