.header {
	z-index: 2;
	display: flex;
	place-content: start space-between;
	align-items: flex-start;
	padding-block: var(--padding-block-box);
	padding-inline: var(--padding-inline-box);
	overflow: hidden;
	view-transition-name: header;

	@media (--width-tablet) {
		align-items: center;
		padding-block: 30px;
	}
}

.header__logo {
	display: block;
}

.header__logo-part {
	&[class*="--colorful"] {
		fill: hsl(var(--color-icon));
	}

	&[class*="--colorful-inverted"] {
		fill: hsl(var(--color-icon-inverted));
	}

	&[class*="--sticker"] {
		fill: hsl(var(--color-sticker));
	}
}

.header__button {
	--size: 45px;

	z-index: 2;
	box-sizing: border-box;
	inline-size: var(--size);
	block-size: var(--size);
	padding: 9px;

	@media (--width-tablet) {
		display: none;
	}
}

.header__button-object {
	position: relative;
	display: block;
	inline-size: 100%;
	block-size: 2px;
	background-color: hsl(var(--color-icon));
	border-radius: 10px;

	&::before,
	&::after {
		position: absolute;
		inset-inline-end: 0;
		block-size: 2px;
		content: "";
		background-color: hsl(var(--color-icon));
		border-radius: 10px;
	}

	&::before {
		inset-block-start: -10px;
		inline-size: 50%;
	}

	&::after {
		inset-block-start: 10px;
		inline-size: 75%;
	}

	@media (prefers-reduced-motion: no-preference) {
		--transition: 400ms ease-in;

		transition: var(--transition);

		&::before,
		&::after {
			transition: var(--transition);
		}
	}
}

.header__button[aria-expanded="true"] .header__button-object {
	rotate: -45deg;

	&::before {
		rotate: 90deg;
		translate: -7px 3px;
	}

	&::after {
		inline-size: 50%;
		rotate: 90deg;
		translate: -7px -3px;
	}
}

.header__menu {
	--display: grid;
	--translate-initial: -100% 0;

	position: fixed;
	inset: 0;
	z-index: 1;
	box-sizing: border-box;
	display: none;
	grid-template-rows: 1fr min-content;
	inline-size: 100%;
	padding: var(--padding-inline-box);
	background: var(--background-page);
	translate: var(--translate-initial);

	@media (--width-tablet) {
		position: initial;
		display: var(--display);
		gap: 20px;
		inline-size: initial;
		padding: initial;
		background: initial;
		transition: initial;
		translate: initial;
	}

	@media (--width-desktop) {
		place-content: end;
		inline-size: calc(
			(100vw - var(--size-inline-box) - (var(--padding-inline-box)) * 2) /
				2
		);
	}

	@media (prefers-reduced-motion: no-preference) {
		transition:
			translate 0.4s cubic-bezier(0.65, 0, 0.35, 1),
			display 0.5s allow-discrete;
	}

	&[class*="--opened"] {
		display: var(--display);
		translate: 0;

		@starting-style {
			translate: var(--translate-initial);
		}
	}
}

.header__menu-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	place-self: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;

	@media (--width-tablet) {
		flex-flow: row wrap;
		gap: 10px 35px;
		place-content: end;
	}
}

@keyframes glitch {
	50% {
		text-shadow:
			5px 0 currentcolor,
			-5px 0 hsl(var(--color-red-100));
		transform: skew(180deg);
	}
}

.header__menu-item {
	&[class*="--careers"] {
		@media (prefers-reduced-motion: no-preference) {
			animation: glitch cubic-bezier(0.5, -0.25, 0.75, 1) 6ms infinite;
		}
	}
}

.header__menu-link {
	font-size: var(--font-size-heading-3);
	font-weight: 600;
	color: inherit;
	text-underline-offset: 5px;

	&[aria-current="page"] {
		color: hsl(var(--color-red-100));
	}
}

.header__settings {
	justify-self: center;

	@media (--width-tablet) {
		justify-self: end;
	}
}
