.header {
	display: flex;
	place-content: start space-between;
	align-items: flex-start;
	padding-block: 22px;
	overflow: hidden;

	@media (--width-tablet) {
		align-items: center;
		padding-block: 30px;
	}
}

.header__logo {
	display: block;
}

.header__logo-part--colorful {
	fill: hsl(var(--color-icon));
}

.header__logo-part--colorful-inverted {
	fill: hsl(var(--color-icon-inverted));
}

.header__logo-part--sticker {
	fill: hsl(var(--color-sticker));
}

.header__button {
	--size: 45px;

	z-index: 2;
	box-sizing: border-box;
	inline-size: var(--size);
	block-size: var(--size);
	padding: 9px;

	@media (--width-tablet) {
		display: none;
	}
}

.header__button-object {
	position: relative;
	display: block;
	inline-size: 100%;
	block-size: 2px;
	background-color: hsl(var(--color-icon));
	border-radius: 10px;
	transition: 400ms ease-in;

	&::before,
	&::after {
		position: absolute;
		inset-inline-end: 0;
		block-size: 2px;
		content: "";
		background-color: hsl(var(--color-icon));
		border-radius: 10px;
		transition: 400ms ease-in;
	}

	&::before {
		inset-block-start: -10px;
		inline-size: 50%;
	}

	&::after {
		inset-block-start: 10px;
		inline-size: 75%;
	}

	@media (prefers-reduced-motion: reduce) {
		transition: none;

		&::before,
		&::after {
			transition: none;
		}
	}
}

.header__button[aria-expanded="true"] .header__button-object {
	rotate: -45deg;

	&::before {
		rotate: 90deg;
		translate: -7px 3px;
	}

	&::after {
		inline-size: 50%;
		rotate: 90deg;
		translate: -7px -3px;
	}
}

.header__menu {
	--display: grid;
	--display-mobile: none;
	--transform-mobile: matrix(1, 0, 0, 1, 0, 0);

	position: fixed;
	inset: 0;
	z-index: 1;
	box-sizing: border-box;
	display: var(--display);
	grid-template-rows: 1fr min-content;
	inline-size: 100%;
	padding: 20px;
	background: var(--background-page);
	transition: translate 0.4s cubic-bezier(0.65, 0, 0.35, 1);
	translate: -100% 0;

	@media (--width-tablet) {
		--display-mobile: var(--display);
		--transform-mobile: initial;

		position: initial;
		gap: 20px;
		inline-size: initial;
		padding: initial;
		background: initial;
		transition: initial;
		translate: initial;
	}

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}

.header__menu--closed {
	display: var(--display-mobile);
}

.header__menu--opened {
	translate: none;
}

.header__menu-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	place-self: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;

	@media (--width-tablet) {
		flex-direction: row;
		gap: 40px;
	}
}

@keyframes glitch {
	50% {
		text-shadow:
			5px 0 currentcolor,
			-5px 0 hsl(var(--color-red-100));
		transform: skew(180deg);
	}
}

.header__menu-item--careers {
	animation: glitch cubic-bezier(0.5, -0.25, 0.75, 1) 6ms infinite;

	@media (prefers-reduced-motion: reduce) {
		animation: none;
	}
}

.header__menu-link {
	font-size: var(--font-size-heading-3);
	color: inherit;
	text-underline-offset: 5px;
}
