.input {
	padding-block: 10px;
	padding-inline: 20px;
	font-family: inherit;
	font-size: inherit;
	color: var(--color-gray-100);
	background-color: var(--color-intro-background);
	border: 1px solid var(--color-page-background-highlight);
	border-radius: 5px;
}
