.intro {
	--gap-section: 25px;
	--padding-inline-section: var(--padding-inline-box);

	display: grid;
	gap: var(--gap-section);

	@media (--width-tablet) {
		--gap-section: 50px;
	}

	@media (--width-desktop) {
		margin-block-start: -165px;
	}
}

.intro__wrapper {
	display: grid;
	padding: var(--padding-inline-box);
	background-color: hsl(var(--color-intro-background));
	border-radius: 8px;

	@media (--width-tablet) {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
}

@keyframes paw {
	0% {
		scale: 1;
	}

	5% {
		scale: 1.1;
	}

	10% {
		scale: 1;
	}

	15% {
		scale: 1.1;
	}

	20% {
		scale: 1;
	}
}

.intro__paw {
	--size-paw: 48px;
	--rotate: 20deg;

	flex-direction: column;
	place-self: end;
	margin-block: 0 -25px;
	color: hsl(var(--color-pink-100));
	rotate: var(--rotate);

	&::before {
		inline-size: var(--size-paw);
		block-size: var(--size-paw);
		margin-block: 0 -20px;
		content: "";
		background-image: url("/images/lapka.svg");
		filter: var(--filter-sticker);
		background-position: 50% 50%;
		background-size: contain;
		border-radius: 50%;
		rotate: calc(0deg - var(--rotate));
		translate: 5px 0;
	}

	@media (--width-tablet) {
		place-self: start end;
		order: calc(infinity);
		margin: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		&::before {
			animation: paw 8s infinite;
		}
	}
}

.intro__paw-text {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2px;
	fill: currentcolor;
}

.intro picture {
	place-self: center;
	margin-block: 0 55px;
	mask-image: linear-gradient(
		to bottom,
		hsl(var(--color-intro-image-mask) / 80%) 40%,
		hsla(var(--color-intro-image-mask) / 0%) 95%
	);

	@media (--width-tablet) {
		margin: 0;
	}
}

.intro__photo {
	display: block;
	inline-size: 226px;
	block-size: auto;
	padding-inline: 6px;
	filter: drop-shadow(-6px 4px 0 hsl(var(--color-red-200)));
}

.intro__header {
	@media (--width-tablet) {
		place-self: end start;
		order: -1;
	}
}

.intro__welcome {
	margin: 0;
	font-size: var(--font-size-heading-3);
}

.intro__name {
	margin: 0;
	font-size: var(--font-size-heading-2);
	font-weight: 500;
	text-transform: uppercase;
}

.intro__description-wrapper {
	display: grid;
	gap: var(--gap-section);

	@media (--width-tablet) {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding-inline: var(--padding-inline-section);
	}
}

.intro__description {
	margin: 0;
	font-size: var(--font-size-heading-3);
}

.intro__slogan {
	margin: 0;
	font-family: var(--font-family-highlight);
	font-size: var(--font-size-highlight);
	color: hsl(var(--color-red-100));
	text-transform: uppercase;

	@media (--width-tablet) {
		place-self: start center;
		max-inline-size: 300px;
		line-height: 1.1;
		text-align: center;
	}
}

.intro__social-list {
	@media (--width-tablet) {
		padding-inline: var(--padding-inline-section);
	}
}
