.intro {
	display: grid;
	padding-block: 25px;
}

.intro__wrapper {
	display: grid;
	padding: 25px;
	margin-block: 0 25px;
	background-color: var(--color-intro-background);
	border-radius: 8px;
}

.intro__paw {
	--paw-size: 48px;
	--rotate: 20deg;

	flex-direction: column;
	place-self: end;
	margin-block: 0 -50px;
	color: var(--color-pink-100);
	rotate: var(--rotate);

	&::before {
		width: var(--paw-size);
		height: var(--paw-size);
		content: "";
		background-image: url("/images/lapka.svg");
		filter: var(--filter-sticker);
		background-position: 50% 50%;
		background-size: contain;
		border-radius: 50%;
		rotate: calc(0deg - var(--rotate));
		translate: 5px 5px;
	}

	@media (hover: hover) {
		cursor: url("/images/lapka.svg"), pointer;
	}
}

.intro__paw-text {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2px;
	fill: currentcolor;
}

.intro__picture {
	place-self: center;
	margin-block: 0 55px;
}

.intro__photo {
	display: block;
	padding-inline: 6px;
	filter: drop-shadow(-6px 4px 0 var(--color-red-200));
	mask-image: linear-gradient(
		to bottom,
		hsl(var(--color-intro-image-mask) / 80%) 40%,
		hsla(var(--color-intro-image-mask) / 0%) 95%
	);
}

.intro__welcome {
	margin: 0;
	font-size: var(--font-size-heading-3);
}

.intro__name {
	margin: 0;
	font-size: var(--font-size-heading-2);
	font-weight: 500;
	text-transform: uppercase;
}

.intro__description {
	margin-block: 0 25px;
	font-size: var(--font-size-heading-3);
}

.intro__promo {
	margin-block: 0 25px;
	font-family: var(--font-family-highlight);
	font-size: var(--font-size-highlight);
	color: var(--color-red-100);
	text-transform: uppercase;
}
