@keyframes loader-animation {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes loader-circle-animation {
	0%,
	25% {
		stroke-dashoffset: 280;
		transform: rotate(0);
	}

	50%,
	75% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 280;
		transform: rotate(360deg);
	}
}

.loader {
	box-sizing: border-box;
	display: block;
	max-width: 75px;
	margin: 35px auto;
	animation: 3s linear infinite loader-animation;

	& circle {
		display: block;
		fill: transparent;
		stroke: var(--color-icon);
		stroke-dasharray: 283;
		stroke-dashoffset: 280;
		stroke-linecap: round;
		stroke-width: 6px;
		transform-origin: 50% 50%;
		animation: 800ms ease-in-out infinite both loader-circle-animation;
	}
}
