.main__row--experience-stickers {
	overflow: hidden;

	@media (--width-tablet) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		overflow: unset;
	}

	@media (--width-desktop) {
		box-sizing: border-box;
		grid-template-columns: 70% 1fr;
		gap: 10px;
		max-inline-size: 1000px;
		margin-inline: auto;
	}
}
