.not-found {
	display: grid;
	gap: 20px;
	padding-block: 100px;

	@media (--width-tablet) {
		padding-block: 150px;
	}

	@media (--width-desktop) {
		padding-block: 200px;
	}
}

.not-found__title {
	margin: 0;
	font-size: var(--font-size-highlight);
	text-transform: uppercase;
}

.not-found__desc {
	margin: 0;
}
