@keyframes shine {
	15% {
		left: 125%;
	}

	100% {
		left: 125%;
	}
}

.not-easter-egg__button-wrapper {
	position: absolute;
	padding: 15px;
	margin: 0;
	overflow: hidden;
	border-radius: 50%;

	&::before {
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: -75%;
		z-index: 2;
		display: block;
		width: 50%;
		height: 100%;
		pointer-events: none;
		content: "";
		background-color: hsl(var(--color-yellow-100) / 20%);
		transform: skewX(-25deg) translateY(-50%);
		animation: shine 5s infinite;
	}

	@media print {
		display: none;
	}
}

.not-easter-egg__button {
	font-size: var(--font-size-highlight);
	line-height: 1;
	opacity: 0;
	transition: opacity 0.7s ease-in-out;

	&:hover,
	&:focus-within {
		opacity: 1;
	}
}

@keyframes append {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.not-easter-egg__audio-control {
	--shift: 15px;
	--icon-color: hsl(var(--color-red-100));
	--icon-url: url("/images/icons.svg#brocken-heart");
	--icon-url-active: url("/images/icons.svg#heart");

	position: fixed;
	inset-block-end: var(--shift);
	inset-inline-end: var(--shift);
	animation: append 1s ease-out;
}
