.page {
	color: hsl(var(--color-text));
	background: var(--background-page);

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}

	&[class*="--no-scroll"] {
		overflow: hidden;
	}
}

.page__body {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
	margin: 0;
	font-family: var(--font-family-text);
	font-size: var(--font-size-text-base);
	line-height: 1.5;
}
