@keyframes scroll-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes detect-scroll {
	from,
	to {
		--has-scroll: ;
	}
}

.scroll-shadows {
	--shadows-size: 20px;
	--shadows-start: 16px;
	--shadows-end: 32px;
	--shadows-color: var(--color-scroll-shadow) / 20%;
	--farthest-side-start: 50% 0;
	--farthest-side-end: 50% 100%;

	scroll-timeline: --scroll-timeline y;
	animation: detect-scroll;
	animation-timeline: --scroll-timeline;
	animation-fill-mode: none;

	&::before,
	&::after {
		--visibility-if-has-scroll: var(--has-scroll) visible;

		position: sticky;
		inset-inline: 0;
		display: block;
		block-size: var(--shadows-size);
		visibility: var(--visibility-if-has-scroll, hidden);
		content: "";
		animation-name: scroll-fade;
		animation-fill-mode: both;
		animation-timeline: --scroll-timeline;
	}

	&::before {
		inset-block-start: 0;
		background-image: radial-gradient(
			farthest-side at var(--farthest-side-start),
			hsl(var(--shadows-color)),
			transparent
		);
		animation-range: var(--shadows-start) var(--shadows-end);
	}

	&::after {
		inset-block-end: 0;
		background-image: radial-gradient(
			farthest-side at var(--farthest-side-end),
			hsl(var(--shadows-color)),
			transparent
		);
		animation-direction: reverse;
		animation-range: calc(100% - var(--shadows-end))
			calc(100% - var(--shadows-start));
	}

	&[class*="--horizontal"] {
		--farthest-side-start: 0 50%;
		--farthest-side-end: 100% 50%;

		display: grid;
		grid-template: auto / var(--shadows-size) 1fr var(--shadows-size);
		scroll-timeline: --scroll-timeline x;

		&::before,
		&::after {
			inset-block: 0;
			inset-inline: auto;
			inline-size: var(--shadows-size);
			block-size: 100%;
		}

		&::before {
			inset-inline-start: 0;
		}

		&::after {
			inset-inline-end: 0;
		}
	}
}
