.settings {
	display: inline-flex;
	gap: 10px;
	align-items: center;
	justify-self: center;
	padding-block: 8px;
	padding-inline: 10px;
	background-color: var(--color-page-background-highlight);
	border-radius: 5px;
}

.settings__theme-label {
	font-family: var(--font-family-highlight);
	font-size: var(--font-size-heading-2);
	line-height: 0.75;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0.5;

	&:has(:checked) {
		opacity: 1;
	}

	&:has(:focus-visible) {
		border-radius: var(--radius-focus);
		outline: var(--outline-focus);
		outline-offset: var(--offset-focus);
	}
}

.settings__theme-control {
	--icon-size: 22px;

	display: block;
	margin: 0;
	appearance: none;
	cursor: pointer;

	&:focus-visible {
		outline: none;
	}

	&[value="light"],
	&[value="dark"] {
		width: var(--icon-size);
		height: var(--icon-size);
		background-color: var(--color-icon);
		mask-repeat: no-repeat;
		mask-position: 50%;
		mask-size: contain;
	}

	&[value="light"] {
		mask-image: url("/images/icons.svg#light");
	}

	&[value="dark"] {
		mask-image: url("/images/icons.svg#dark");
	}
}
