.settings {
	display: inline-flex;
	gap: 10px;
	align-items: center;
	padding-block: 8px;
	padding-inline: 10px;
	background-color: hsl(var(--color-page-background-highlight));
	border-radius: 5px;
}

.settings__theme-control {
	--size-icon: 22px;

	display: block;
	inline-size: var(--size-icon);
	block-size: var(--size-icon);
	margin: 0;
	appearance: none;
	cursor: pointer;
	opacity: 0.5;

	&:checked {
		opacity: 1;
	}

	&::before {
		display: block;
		inline-size: 100%;
		block-size: 100%;
		content: "";
		background-color: hsl(var(--color-icon));
		mask-repeat: no-repeat;
		mask-position: 50%;
		mask-size: contain;
	}

	&[value="light"] {
		&::before {
			mask-image: url("/images/icons.svg#light");
		}
	}

	&[value="dark"] {
		&::before {
			mask-image: url("/images/icons.svg#dark");
		}
	}

	&[value="auto"] {
		inline-size: 37px;
		block-size: 18px;

		&::before {
			mask-image: url("/images/icons.svg#auto");
		}
	}
}
