.settings {
	display: inline-grid;
	grid-auto-flow: column;
	gap: 10px;
	align-items: center;
	justify-self: center;
	padding: 10px;
	border-radius: 5px;
}

.settings__theme-label {
	font-size: var(--font-size-heading-3);
	line-height: 1;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0.5;

	&:has(:checked) {
		opacity: 1;
	}

	&:has(:focus-visible) {
		border-radius: var(--radius-focus);
		outline: var(--outline-focus);
		outline-offset: var(--offset-focus);
	}
}

.settings__theme-control {
	--icon-size: 22px;

	display: block;
	appearance: none;

	&:focus-visible {
		outline: none;
	}

	&[value="light"],
	&[value="dark"] {
		width: var(--icon-size);
		height: var(--icon-size);
		margin: 0;
		background-color: var(--color-icon);
		mask-repeat: no-repeat;
		mask-position: 50%;
		mask-size: contain;
	}

	&[value="light"] {
		mask-image: url("/images/icons.svg#light");
	}

	&[value="dark"] {
		mask-image: url("/images/icons.svg#dark");
	}
}
