.social-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 50px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.social-list--icons {
	gap: 20px;
}

.social-list__item {
	line-height: 0;
}

.social-list__item-link {
	--icon-size: 22px;

	display: inline-flex;
	gap: 12px;
	align-items: center;
	font-weight: 600;
	color: inherit;
	text-underline-offset: 5px;

	&::before {
		display: block;
		width: var(--icon-size);
		height: var(--icon-size);
		content: "";
		background-color: hsl(var(--color-icon));
		mask-repeat: no-repeat;
		mask-position: 50%;
		mask-size: contain;
	}
}

.social-list--icons .social-list__item-link {
	--icon-size: 28px;

	&::before {
		background-color: hsl(var(--color-gray-100));
	}
}

.social-list__item-link--github {
	&::before {
		mask-image: url("/images/icons.svg#github");
	}
}

.social-list__item-link--linkedin {
	&::before {
		mask-image: url("/images/icons.svg#linkedin");
	}
}

.social-list__item-link--telegram {
	&::before {
		mask-image: url("/images/icons.svg#telegram");
	}
}

.social-list__item-link--twitter {
	&::before {
		mask-image: url("/images/icons.svg#twitter");
	}
}

.social-list__item-link--email {
	&::before {
		mask-image: url("/images/icons.svg#mail");
	}
}
