.stickers {
	place-self: center;
}

.stickers__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 0;
	place-items: center;
	max-inline-size: 375px;
	padding: 0;
	margin: 0;
	margin-inline: auto;
	list-style: none;
}

.stickers__item {
	aspect-ratio: 1;
	filter: var(--filter-sticker);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.stickers__item--full {
	grid-column: 1 / -1;
}

.stickers__item--pair {
	grid-column: span 2;
}

.stickers__item--nodejs {
	inline-size: 110px;
	background-image: url("/images/stickers.svg#nodejs");
	rotate: 10deg;
}

.stickers__item--beerjs {
	inline-size: 130px;
	background-image: url("/images/stickers.svg#beerjs");
	rotate: -10deg;
}

.stickers__item--react {
	inline-size: 85px;
	background-image: url("/images/stickers.svg#react");
	rotate: 10deg;
	translate: 0 -5px;
}

.stickers__item--aws {
	inline-size: 120px;
	background-image: url("/images/stickers.svg#aws");
	rotate: -7deg;
	translate: 10px -30px;
}

.stickers__item--acidtwo {
	inline-size: 125px;
	background-image: url("/images/stickers.svg#acid2");
	rotate: -2deg;
	translate: -35px 15px;
}

.stickers__item--dom {
	inline-size: 100px;
	background-image: url("/images/stickers.svg#dom-api");
	translate: -15px -10px;
}

.stickers__item--webcomponents {
	inline-size: 100px;
	background-image: url("/images/stickers.svg#webcomponents");
	rotate: -10deg;
	translate: -5px -45px;
}

.stickers__item--vans {
	inline-size: 120px;
	background-image: url("/images/stickers.svg#vans");
	rotate: 40deg;
	translate: -15px 30px;
}

.stickers__item--xl {
	inline-size: 120px;
	background-image: url("/images/stickers.svg#xl");
	rotate: -3deg;
	translate: -20px -15px;
}

.stickers__item--berserk {
	inline-size: 110px;
	background-image: url("/images/stickers.svg#berserk");
	rotate: -5deg;
	translate: -25px -45px;
}

.stickers__item--love {
	inline-size: 140px;
	background-image: url("/images/stickers.svg#love");
	rotate: 40deg;
	translate: 35px 10px;
}

.stickers__item--jagermeister {
	inline-size: 110px;
	background-image: url("/images/stickers.svg#jagermeister");
	rotate: -5deg;
	translate: -10px -60px;
}
