.stickers-background {
	@media (--width-desktop) {
		position: relative;
	}
}

.stickers-background__sticker-list {
	display: none;

	@media (--width-desktop) {
		display: block;

		--insert-additional-space: 2.5%;
		--inset-block: 18%;
		--inset-inline: calc(
			50% +
				(
					calc(var(--size-inline-box-wide) / 2) +
						var(--insert-additional-space)
				)
		);
		--rotate: 8deg;

		&:has(> :nth-child(10)) {
			--inset-block: 9%;
		}

		.sticker-list__item {
			position: absolute;
			inline-size: 110px;

			&:nth-child(odd) {
				inset-inline-start: var(--inset-inline);
				rotate: calc(0deg - var(--rotate));
			}

			&:nth-child(even) {
				inset-inline-end: var(--inset-inline);
				rotate: var(--rotate);
			}

			&:nth-child(1) {
				inset-block-start: calc(1 * var(--inset-block));
			}

			&:nth-child(2) {
				inset-block-start: calc(2 * var(--inset-block));
			}

			&:nth-child(3) {
				inset-block-start: calc(3 * var(--inset-block));
			}

			&:nth-child(4) {
				inset-block-start: calc(4 * var(--inset-block));
			}

			&:nth-child(5) {
				inset-block-start: calc(5 * var(--inset-block));
			}

			&:nth-child(6) {
				inset-block-start: calc(6 * var(--inset-block));
			}

			&:nth-child(7) {
				inset-block-start: calc(7 * var(--inset-block));
			}

			&:nth-child(8) {
				inset-block-start: calc(8 * var(--inset-block));
			}

			&:nth-child(9) {
				inset-block-start: calc(9 * var(--inset-block));
			}

			&:nth-child(10) {
				inset-block-start: calc(10 * var(--inset-block));
			}
		}
	}
}
