.switch {
	--icon-color: hsl(var(--color-icon));
	--icon-url: url("/");
	--icon-url-active: url("/");
	--icon-size: 22px;
	--icon-shift: 27.5px;

	box-sizing: border-box;
	gap: 5px;
	width: 60px;
	padding-block: 3px;
	padding-inline: 5px;
	background-color: hsl(var(--color-icon));
	border-radius: 20px;

	&::before,
	&::after {
		display: block;
		width: var(--icon-size);
		height: var(--icon-size);
		content: "";
		transition: translate 0.3s ease-in-out;
	}

	&::before {
		background-color: var(--icon-color);
		mask-image: var(--icon-url);
		mask-repeat: no-repeat;
		mask-size: contain;
	}

	&::after {
		background-color: hsl(var(--color-icon-inverted));
		border-radius: 50%;
	}

	&[aria-checked="true"] {
		&::before {
			mask-image: var(--icon-url-active);
			translate: var(--icon-shift) 0;
		}

		&::after {
			translate: calc(0px - var(--icon-shift)) 0;
		}
	}
}
