.timeline {
	display: grid;
	gap: 20px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.timeline__item {
	--size-icon: 14px;
	--padding-inline: 25px;
	--padding-block: 25px;
	--gap: 10px;

	display: grid;
	gap: var(--gap);
}

@keyframes render {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.timeline--loading .timeline__item {
	@media (prefers-reduced-motion: no-preference) {
		animation: render 1.5s ease-out;
	}
}

.timeline--columns .timeline__item {
	@media (--width-desktop) {
		grid-template-columns: max-content 1fr;
		gap: 0;
	}
}

.timeline__item-dates {
	--color: hsl(var(--color-red-100));

	position: relative;
	padding-inline: var(--padding-inline);
	margin: 0;
	font-size: var(--font-size-text-small);
	color: var(--color);

	&::before {
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: 2px;
		box-sizing: border-box;
		inline-size: var(--size-icon);
		block-size: var(--size-icon);
		content: "";
		border: 2px solid var(--color);
		border-radius: 50%;
		translate: 0 -50%;
	}
}

.timeline--columns .timeline__item-dates {
	@media (--width-desktop) {
		box-sizing: border-box;
		place-self: start end;
		inline-size: var(--size-inline-dates, auto);
		padding-block: 5px 0;
		padding-inline: 0 7px;
		text-align: end;
		text-wrap: nowrap;

		&::before {
			inset-block-start: 8px;
			inset-inline-start: calc(100% + 2px);
			translate: unset;
		}
	}
}

.timeline__item-date {
	&[class*="--end"] {
		&::before {
			content: " \2014  ";
		}
	}
}

.timeline__item-wrapper {
	position: relative;
	display: grid;
	gap: var(--gap);
	padding-inline: var(--padding-inline);

	&:has(.timeline__item-title) {
		padding-block: 0 var(--padding-block);
	}

	&::before {
		position: absolute;
		inset-block: 0;
		inset-inline-start: 8px;
		inline-size: 2px;
		content: "";
		background-color: hsl(var(--color-page-background-highlight));
		border-radius: 5px;
	}
}

.timeline--columns .timeline__item-wrapper {
	@media (--width-desktop) {
		&::before {
			inset-block-start: 35px;
		}
	}
}

.timeline__item-title {
	margin: 0;
	font-size: var(--font-size-heading-3);
	font-weight: 500;
}

.timeline__item-origin,
.timeline__item-link {
	--size-icon: 13px;

	display: inline-flex;
	gap: 6px;
	align-items: center;
	inline-size: fit-content;
	font-size: var(--font-size-text-small);
	color: inherit;
	text-decoration: none;

	&::before {
		inline-size: var(--size-icon);
		block-size: var(--size-icon);
		content: "";
		background-color: hsl(var(--color-icon));
		mask-image: url("/images/icons.svg#link");
		mask-repeat: no-repeat;
		mask-position: 50%;
		mask-size: contain;
	}
}

.timeline__item-description {
	margin: 0;
}

.timeline__item-wrapper:has(.timeline__item-title) .timeline__item-description {
	color: hsl(var(--color-gray-100));
}
