.toast {
	position: fixed;
	inset-block-end: 0;
	inset-inline-start: 50%;
	box-sizing: border-box;
	width: 92%;
	max-width: 400px;
	padding-block: 12px;
	padding-inline: 15px;
	margin: 0;
	text-align: center;
	background: var(--background-page);
	border-radius: 5px;
	box-shadow: 0 0 10px hsl(var(--color-red-100));
	opacity: 0;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	transition-property: transform, opacity;
	transform: translate(-50%, 100%);
}

.toast--show {
	inset-block-end: 13px;
	opacity: 1;
	transform: translate(-50%, 0%);
}
