.toast {
	position: fixed;
	inset-block-end: 0;
	inset-inline: 0;
	box-sizing: border-box;
	inline-size: 90%;
	max-inline-size: 400px;
	padding-block: 12px;
	padding-inline: 15px;
	margin: 0;
	margin-inline: auto;
	text-align: center;
	background: var(--background-page);
	border-radius: 5px;
	box-shadow: 0 0 10px hsl(var(--color-red-100));
	opacity: 0;
	translate: 0 100%;

	@media (prefers-reduced-motion: no-preference) {
		transition-timing-function: ease-out;
		transition-duration: 0.3s;
		transition-property: translate, opacity;
	}

	&[class*="--show"] {
		inset-block-end: 13px;
		opacity: 1;
		translate: 0 0%;
	}
}
