.visually-hidden {
	--size: 1px;

	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: var(--size);
	block-size: var(--size);
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: none;
	clip-path: inset(100%);
}
