.exp-filter {
	position: sticky;
	top: -1px;
	z-index: var(--z-index--level-three);
	background-color: var(--color--primary);
	box-shadow: 0 1px 10px 0 var(--color--primary--opacity);
}

.exp-filter__wrapper {
	display: flex;
	justify-content: space-between;
	min-height: 60px;
	padding: 5px 8px;

	@media (width >= 350px) {
		padding: 5px 28px 5px 23px;
	}

	@media (width >= 620px) {
		align-items: center;
		padding: 10px 8px;
	}

	@media (--width-desktop) {
		max-width: 940px;
		margin: 0 auto;
		padding: 17px 8px;
	}
}

.exp-filter__skills-type {
	width: 75%;
	margin: 0;
	padding: 0;
	border: 0;

	@media (width >= 500px) {
		width: unset;
	}
}

.exp-filter__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;

	@media (width >= 500px) {
		flex-flow: row wrap;
		align-items: center;
	}
}

.exp-filter__item {
	padding: 0 5px 0 0;
}

.exp-filter__skill-types {
	margin: 0;
	padding: 0;
	border: 0;

	& .exp-filter__list {
		flex-flow: row wrap;
		align-items: center;
	}

	& .exp-filter__item {
		width: 50%;
	}

	@media (width >= 620px) {
		max-width: unset;

		& .exp-filter__item {
			width: unset;
		}
	}
}

.exp-filter__skill-title {
	padding: 0 0 0 7px;
	color: var(--color--secondary);

	@media (width >= 620px) {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
		border: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(100%);
	}
}
