.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-header__title {
	margin: 0;
	font-size: var(--font-size--large);
	text-transform: uppercase;
}

.section-header__desc {
	position: relative;
	margin: 0;
	padding: 0 0 5px;
	letter-spacing: 2px;
}

.section-header__desc::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: "";
	width: calc(100% / 1.2);
	height: 1px;
	background-color: var(--color--primary);
	transform: translateX(-50%);
}
