---
permalink: 'index.html'
stickersCount: 0
---

{% extends '../../layouts/page.njk' %}
{% from 'icon.njk' import icon %}
{% from 'channel.njk' import channel with context %}
{% from 'social-list.njk' import socialList %}
{% from 'article-list.njk' import articleList %}
{% from 'sticker-list.njk' import stickerList %}
{% set LAPKA_PHRASE = 'Hive Four!' %}
{% set ARTICLES_COUNT = 3 %}
{%
	set FAVORITE_STICKERS = [
	stickers.Name.NODEJS,
	stickers.Name.BEERJS,
	stickers.Name.REACT,
	stickers.Name.AWS,
	stickers.Name.ACID_2,
	stickers.Name.DOM_API,
	stickers.Name.WEB_COMPONENTS,
	stickers.Name.VANS,
	stickers.Name.XL,
	stickers.Name.BERSERK,
	stickers.Name.LOVE,
	stickers.Name.JAGERMEISTER
	]
%}
{% set introSocials = global.socials.concat([{ name: global.email, key: 'email', url: 'mailto:' + global.email }]) %}

{% block content %}
	<div class="intro box">
		<div class="intro__wrapper">
			<button class="intro__paw action" type="button" aria-label="{{ LAPKA_PHRASE }}">
				<svg
					class="intro__paw-object"
					width="115"
					height="60"
					xmlns="http://www.w3.org/2000/svg"
					aria-hidden="true"
				>
					<text x="30">
						<textpath class="intro__paw-text" href="#text-curved">{{ LAPKA_PHRASE }}</textpath>
					</text>
				</svg>
			</button>
			<img
				src="/images/vladyslav-zubko.png"
				width="238"
				height="300"
				sizes="238px"
				loading="eager"
				fetchpriority="high"
				decoding="async"
				alt="{{ global.author }} Portrait."
				eleventy:widths="238,476"
				eleventy:formats="avif,webp,png"
			/>
			<header class="intro__header">
				<p class="intro__welcome">Hi, my name is</p>
				<h1 class="intro__name">{{ global.author }}</h1>
			</header>
		</div>
		<div class="intro__description-wrapper">
			<p class="intro__description">
				I'm an avid explorer of the World, enamored with digital tech, especially the Web, passionate about
				learning, mentoring, and connecting with others
			</p>
			<p class="intro__slogan">Experts stand for high standards</p>
		</div>
		{{ socialList(items=introSocials, className='intro__social-list') }}
	</div>
	<div class="main__row main__row--experience-stickers box">
		<section class="experience">
			<h2 class="experience__title">Experience</h2>
			<search class="experience__form-wrapper">
				<form class="experience__form" action="/timeline">
					<label class="experience__form-label">
						<input
							class="experience__form-control visually-hidden"
							type="radio"
							name="type"
							value="position"
							checked
						/>
						Positions
					</label>
					<label class="experience__form-label">
						<input
							class="experience__form-control visually-hidden"
							type="radio"
							name="type"
							value="certificate"
						/>
						Certificates
					</label>
					<label class="experience__form-label">
						<input
							class="experience__form-control visually-hidden"
							type="radio"
							name="type"
							value="meetup"
						/>
						Meetups
					</label>
					<label class="experience__form-label">
						<input class="experience__form-control visually-hidden" type="radio" name="type" value="book" />
						Book
					</label>
				</form>
			</search>
			<div class="experience__timeline-wrapper scroll-shadows">
				<ul class="experience__timeline-list timeline timeline--loading timeline--columns"></ul>
			</div>
		</section>
		<section class="stickers">
			<h2 class="stickers__title visually-hidden">Stickers</h2>
			{{ stickerList(items=FAVORITE_STICKERS, className="stickers__list") }}
		</section>
	</div>
	<section class="articles box">
		<h2 class="articles__title">Latest Articles</h2>
		{{ articleList(items=collections.articles | reverse, className="articles__article-list", maxCount=ARTICLES_COUNT) }}
		<a class="articles__all action button" href="/articles">View all articles</a>
	</section>
	{{ channel() }}
{% endblock %}

{% block aside %}
	{% include 'aside.njk' %}
{% endblock %}
