{% macro accordion(className, title, defaultOpenedWidth = 768) %}
	<details class="{{ className }} accordion">
		<summary class="accordion__title action">{{ title }}</summary>
		{{ caller() }}
		{% if defaultOpenedWidth %}
			<!-- prettier-ignore-start -->
			<script>
				document.currentScript.closest('details').open = window.innerWidth > {{ defaultOpenedWidth }}
			</script>
			<!-- prettier-ignore-end -->
		{% endif %}
	</details>
{% endmacro %}
