{% from 'tag-list.njk' import tagList %}

{% macro articleList(items, className, maxCount = Infinity, headingLevel = "h3") %}
	<ul class="{{ className }} article-list">
		{% for article in items.slice(0, maxCount) %}
			{% set isSamePage = article.url != page.url %}

			{% if isSamePage %}
				{% set lastChangelogItem = article.data.changelogs | last %}

				<li class="article-list__item">
					<article class="article-list__item-wrapper">
						<!-- prettier-ignore-start -->
						<{{ headingLevel }} class="article-list__item-title">
						<!-- prettier-ignore-end -->
							<a class="article-list__item-link" href="{{ article.url }}">{{ article.data.title | safe }}</a>
						<!-- prettier-ignore-start -->
						</{{ headingLevel }}>
						<!-- prettier-ignore-end -->
						{% if article.data.tags.length %}
							{{ tagList(items=article.data.tags, className="article-list__item-tags") }}
						{% endif %}
						<p class="article-list__item-dates">
							<time class="article-list__item-date" datetime="{{ article.date | dateISO }}"
								>{{ article.date | dateFormatted }}</time
							>
							{% if lastChangelogItem %}
								<time
									class="article-list__item-updated"
									datetime="{{ lastChangelogItem.date | dateISO }}"
									>Updated: {{ lastChangelogItem.date | dateFormatted }}</time
								>
							{% endif %}
						</p>
					</article>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endmacro %}
