{% from 'social-list.njk' import socialList %}

<aside class="aside column">
	<span class="aside__border aside__border--top">
		<svg class="aside__border-object" width="40" height="12" aria-hidden="true">
			<use href="/images/icons.svg#infinity"></use>
		</svg>
	</span>
	<b class="aside__title">Let's change the world together!</b>
	<a class="aside__email" href="mailto:{{ global.email }}">{{ global.email }}</a>
	{{ socialList(global.socials, 'aside__social-list', true) }}
	<span class="aside__border aside__border--bottom">
		<svg class="aside__border-object" width="40" height="12" aria-hidden="true">
			<use href="/images/icons.svg#infinity"></use>
		</svg>
	</span>
</aside>
