{% from 'icon.njk' import icon %}

{% macro channel(tag = "section") %}
	<!-- prettier-ignore-start -->
	<{{ tag }} class="channel box">
	<!-- prettier-ignore-end -->
		<h2 class="channel__title visually-hidden">My telegram channel</h2>
		<ul class="channel__content-list" aria-hidden="true">
			<li class="channel__content-item channel__content-item--shift-back channel__content-item--reaction">
				<span class="channel__content-emoji">👍</span> 3
			</li>
			<li class="channel__content-item channel__content-item--shift-back channel__content-item--technology">
				TypeScript
			</li>
			<li class="channel__content-item channel__content-item--technology">Accessibility</li>
			<li class="channel__content-item channel__content-item--icon channel__content-item--icon--lapka">3</li>
			<li class="channel__content-item channel__content-item--shift-forward channel__content-item--reaction">
				<span class="channel__content-emoji">👀</span> 15
			</li>
			<li class="channel__content-item channel__content-item--technology">Eleventy</li>
		</ul>
		<div class="channel__content">
			<div class="channel__picture-wrapper">
				<img
					src="/images/telegram-avatar.jpg"
					width="66"
					height="66"
					sizes="66px"
					loading="lazy"
					decoding="async"
					alt="Telegram channel avatar."
					eleventy:widths="66,132"
					eleventy:formats="avif,webp,jpg"
				/>
				{{ icon(className='channel__picture-object', name='telegram', width=22, height=22) }}
			</div>
			<a class="channel__link" href="{{ global.channelUrl }}" target="_blank" rel="noreferrer noopener">t.me/whatislove_dev</a>
			<p class="channel__description">
				I run a Telegram channel, sharing insightful dev publications and resources. Thx, peace, frogs, love ✌️
			</p>
		</div>
		<ul class="channel__content-list" aria-hidden="true">
			<li class="channel__content-item channel__content-item--full channel__content-item--reaction">
				<span class="channel__content-emoji">🦄</span> 15
			</li>
			<li class="channel__content-item channel__content-item--shift-back channel__content-item--reaction">
				<span class="channel__content-emoji">❤️</span> 12
			</li>
			<li
				class="channel__content-item channel__content-item--shift-back channel__content-item--technology channel__content-item--technology--left"
			>
				Frameworks
			</li>
			<li class="channel__content-item channel__content-item--technology channel__content-item--technology--left">
				AWS
			</li>
			<li class="channel__content-item channel__content-item--shift-forward channel__content-item--reaction">
				<span class="channel__content-emoji">🔥</span> 9
			</li>
		</ul>
	<!-- prettier-ignore-start -->
	</{{ tag }}>
	<!-- prettier-ignore-end -->
{% endmacro %}
