{% from 'icon.njk' import icon %}
{% set IMAGE_FORMATS = ['avif', 'webp'] %}

{% macro channel(tag = "section") %}
	<!-- prettier-ignore-start -->
	<{{ tag }} class="channel column">
	<!-- prettier-ignore-end -->
		<h2 class="channel__title visually-hidden">My telegram channel</h2>
		<ul class="channel__content-list" aria-hidden="true">
			<li class="channel__content-item channel__content-item--shift-back channel__content-item--reaction">
				<span class="channel__content-emoji">👍</span> 3
			</li>
			<li class="channel__content-item channel__content-item--shift-back channel__content-item--technology">
				TypeScript
			</li>
			<li class="channel__content-item channel__content-item--technology">Accessibility</li>
			<li class="channel__content-item channel__content-item--icon channel__content-item--icon--lapka">3</li>
			<li class="channel__content-item channel__content-item--shift-forward channel__content-item--reaction">
				<span class="channel__content-emoji">👀</span> 15
			</li>
			<li class="channel__content-item channel__content-item--technology">Eleventy</li>
		</ul>
		<div class="channel__content">
			<div class="channel__picture-wrapper">
				<picture class="channel__picture">
					{% for format in IMAGE_FORMATS %}
						<source
							srcset="
								/images/telegram-avatar.photo.{{ format }}    1x,
								/images/telegram-avatar@2x.photo.{{ format }} 2x
							"
							type="image/{{ format }}"
						/>
					{% endfor %}
					<img
						class="channel__image"
						src="/images/telegram-avatar.photo.jpg"
						srcset="/images/telegram-avatar@2x.photo.jpg 2x"
						width="66"
						height="66"
						loading="lazy"
						alt="Telegram channel avatar."
					/>
				</picture>
				{{ icon(className='channel__picture-object', name='telegram', width=22, height=22) }}
			</div>
			<a class="channel__link" href="https://t.me/whatislove_dev" target="_blank">t.me/whatislove_dev</a>
			<p class="channel__description">
				I run a Telegram channel, sharing insightful dev publications and resources. Thx, peace, frogs, love ✌️
			</p>
		</div>
		<ul class="channel__content-list" aria-hidden="true">
			<li class="channel__content-item channel__content-item--full channel__content-item--reaction">
				<span class="channel__content-emoji">🦄</span> 15
			</li>
			<li class="channel__content-item channel__content-item--shift-back channel__content-item--reaction">
				<span class="channel__content-emoji">❤️</span> 12
			</li>
			<li
				class="channel__content-item channel__content-item--shift-back channel__content-item--technology channel__content-item--technology--left"
			>
				Frameworks
			</li>
			<li class="channel__content-item channel__content-item--technology channel__content-item--technology--left">
				AWS
			</li>
			<li class="channel__content-item channel__content-item--shift-forward channel__content-item--reaction">
				<span class="channel__content-emoji">🔥</span> 9
			</li>
		</ul>
	<!-- prettier-ignore-start -->
	</{{ tag }}>
	<!-- prettier-ignore-end -->
{% endmacro %}
