<section class="not-easter-egg">
	<h2 class="not-easter-egg__title visually-hidden">Not an Easter Egg (but actually it is, yes 😁)</h2>
	<div class="not-easter-egg__button-wrapper">
		<button class="not-easter-egg__button action" type="button" aria-label="Easter egg">🥚</button>
	</div>
</section>
