<footer class="footer box">
	<ul class="footer__links-list">
		<li class="footer__links-item">
			<a class="footer__link" href="{{ global.repo }}/issues/new" target="_blank">Report Issue</a>
		</li>
		<li class="footer__links-item">
			<a class="footer__link" href="/sitemap.xml">Sitemap</a>
		</li>
	</ul>
	<div class="footer__webring">
		<a
			class="footer__webring-link footer__webring-link--previous action"
			href="https://🕸💍.ws/previous"
			aria-label="Webring go previous"
		></a>
		<a class="footer__webring-main" href="https://🕸💍.ws" target="_blank">🕸️ IndieWeb Webring 💍</a>
		<a
			class="footer__webring-link footer__webring-link--next action"
			href="https://🕸💍.ws/next"
			aria-label="Webring go next"
		></a>
	</div>
	<p class="footer__copyright">&copy; 2020 – {{ global.currentYear }} Vladyslav Zubko. All rights reserved.</p>
	<p class="footer__credits">
		Built using {{ eleventy.generator }} with <span class="footer__credits-icon">❤️</span> / Design by
		<a class="footer__credits-designer" href="https://t.me/listiqq" target="_blank"> Dima Listiq </a>
	</p>
</footer>
