<footer class="footer column">
	<div class="footer__webring">
		<a
			class="footer__webring-link footer__webring-link--previous action"
			href="https://🕸💍.ws/previous"
			aria-label="Webring go previous"
		></a>
		<a class="footer__webring-main" href="https://🕸💍.ws">🕸️ IndieWeb Webring 💍</a>
		<a
			class="footer__webring-link footer__webring-link--next action"
			href="https://🕸💍.ws/next"
			aria-label="Webring go next"
		></a>
	</div>
	<p class="footer__credits">
		Built using Eleventy v3.0.0 with ❤️ / Design by
		<a class="footer__designer" href="https://t.me/listiqq" target="_blank" rel="noreferrer noopener">
			Dima Listiq
		</a>
	</p>
	<p class="footer__copyrigng">&copy; 2018 – {{ global.currentYear }} Vladyslav Zubko. All rights reserved.</p>
</footer>
