<style>
	.og {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(135deg, #ef629f, #eecda3);
	}

	.og__title {
		color: white;
		font-size: 80px;
		margin: auto 0;
	}

	.og__tags-list {
	}
</style>

<div class="og">
	<h1 class="og__title">{{ title }}</h1>
	<ul class="og__tags-list">
		{% for tag in tags %}
			<li>{{ tag }}</li>
		{% endfor %}
	</ul>
</div>
