{% macro paginationList(className, name) %}
	<nav class="{{ className }} pagination" aria-label="{{ name }}">
		{% if pagination.href.previous %}
			<a
				class="pagination__link pagination__link--previous action"
				href="{{ pagination.href.previous }}"
				aria-label="Previous page"
			></a>
		{% else %}
			<span class="pagination__link pagination__link--previous"></span>
		{% endif %}
		<ul class="pagination__numbers">
			{% for pageEntry in pagination.pages %}
				{% set href = pagination.hrefs[loop.index0] %}
				<li class="pagination__number">
					<a
						class="pagination__number-link action button"
						href="{{ href }}"
						aria-label="Page {{ loop.index }}"
						{% if page.url == href %}
							aria-current="page"
						{% endif %}
					>
						{{ loop.index }}
					</a>
				</li>
			{% endfor %}
		</ul>
		{% if pagination.href.next %}
			<a
				class="pagination__link pagination__link--next action"
				href="{{ pagination.href.next }}"
				aria-label="Next page"
			></a>
		{% else %}
			<span class="pagination__link pagination__link--next"></span>
		{% endif %}
	</nav>
{% endmacro %}
