<svg class="shapes visually-hidden">
	<path
		class="shapes__text-curve"
		id="text-curved"
		d="M0 0C0 15.913 6.32141 31.1742 17.5736 42.4264C28.8258 53.6786 44.087 60 60 60C75.913 60 91.1742 53.6786 102.426 42.4264C113.679 31.1742 120 15.913 120 0"
	/>
	<filter class="shapes__sticker" id="sticker">
		<feMorphology in="SourceAlpha" result="Dilated" operator="dilate" radius="4"></feMorphology>
		<feFlood flood-color="#ffffff" result="OutlineColor"></feFlood>
		<feComposite in="OutlineColor" in2="Dilated" operator="in" result="Outline"></feComposite>
		<feMerge>
			<feMergeNode in="Outline"></feMergeNode>
			<feMergeNode in="SourceGraphic"></feMergeNode>
		</feMerge>
	</filter>
</svg>
