<svg class="shapes visually-hidden">
	<path class="shapes__text-curve" id="text-curved" d="M0,0 a1,1 0 0,0 100,0" />
	<filter class="shapes__sticker" id="sticker">
		<feMorphology in="SourceAlpha" result="Dilated" operator="dilate" radius="4"></feMorphology>
		<feFlood flood-color="#ffffff" result="OutlineColor"></feFlood>
		<feComposite in="OutlineColor" in2="Dilated" operator="in" result="Outline"></feComposite>
		<feMerge>
			<feMergeNode in="Outline"></feMergeNode>
			<feMergeNode in="SourceGraphic"></feMergeNode>
		</feMerge>
	</filter>
</svg>
