:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.info {
	position: absolute;
	inset-block-start: var(--position-top);
	inset-inline-start: var(--position-left);
	z-index: var(--z-index-tooltip);

	--position-top: 20px;
	--position-left: 20px;
}

.info-btn {
	--icon-color: var(--color-dark);

	inline-size: 30px;
	block-size: 30px;
	padding: 0;
	color: var(--color-dark);
	cursor: pointer;
	background-color: transparent;
	border: 0;

	&:focus-visible {
		--icon-color: var(--color-focus);

		outline: none;
	}

	@media (hover: hover) {
		opacity: 0.5;
		transition: all 200ms ease-in-out;

		&:hover,
		&:focus-visible {
			opacity: 1;
			scale: 1.1;
		}
	}
}

.info-btn--process {
	--icon-color: var(--color-white-100);

	z-index: var(--z-index-tooltip);
}

.info-content:popover-open {
	position: absolute;
	inset: unset;
	inset-block-start: calc(var(--position-top) + 45px);
	inset-inline-start: calc(var(--position-left));
	color: var(--color-dark);
	background-color: var(--color-light);
	border: 2px solid var(--color-dark);
}

.info-content a {
	color: var(--color-red-100);
}
