---
title: Not found
description: A missed page
permalink: 404/index.html
stickersCount: 3
---

{% extends '../../layouts/page.njk' %}
{% from 'article-list.njk' import articleList %}
{% set ARTICLES_COUNT = 3 %}

{% block content %}
	<div class="not-found box">
		<h1 class="not-found__title">Not found</h1>
		<p class="not-found__desc content">
			Yeah, I also don't like broken links. Please,
			<a href="{{ global.repo }}/issues/new" target="_blank" rel="noreferrer noopener">create an issue</a>
			if you truly ended up here <i>unexpectedly</i>.
		</p>
	</div>
{% endblock %}

{% block aside %}
	<aside class="articles box">
		<h2 class="articles__title">Latest Articles</h2>
		{{ articleList(items=collections.articles | reverse, className="articles__article-list", maxCount=ARTICLES_COUNT) }}
		<a class="articles__all action button" href="/articles">View all articles</a>
	</aside>
{% endblock %}
